<script>
import Rating from '@/components/Rating.vue';
import { Place } from '@/models/place';

export default {
  name: 'PlaceListItem',

  components: {
    Rating,
  },

  props: {
    place: {
      type: Place,
      required: true,
    },
  },
  computed: {
    city() {
      return this.place.location.properties.city.name;
    },
    address() {
      return this.place.location.properties.address;
    },
  },
  methods: {
    showPlace() {
      this.$router.push('/places/' + this.place.id);
    },
  },
};
</script>

<template>
  <div
    class="place"
    @click="showPlace">
    <div class="place__info">
      <div class="place__image">
        <img
          :src="place.thumbnail"
          class="image"
          alt="PLACE IMAGE">
      </div>
      <div class="place__description">
        <h3 class="place__title">{{ place.name }}</h3>
        <div class="place__rating"><rating :rating="4.6" /></div>
        <ul class="place__category--list">
          <li
            v-for="(category, index) in place.categories"
            :key="index"
            class="category"
          >
            {{ category.name }}
          </li>
        </ul>
      </div>
      <div class="place__location">
        <p>{{ city }}</p>
        <p>{{ address }}</p>
      </div>
    </div>

    <!-- <div class="place__review">
      <img
        :src="place.thumbnail"
        alt="IMAGE"
        class="reviewer-image"
      >
      <div class="review-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit.
      </div>
    </div> -->
  </div>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';
.place {
  width: 100%;
  margin: auto;
  padding: 0.5rem 0.3rem;
  transition: all 0.4s;
  z-index: 1000;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  &:not(:first-child) {
    border-top: 1px solid $color-primary-main;
  }

  &__info {
    display: grid;
    grid-template-columns: [image]20rem [desc]2fr [location]1fr;
    grid-gap: 0.8rem;
    justify-content: space-between;
    align-content: center;
  }

  &__image {
    grid-column: image;
    align-self: center;
    margin: auto;
  }

  &__description {
    grid-column: desc;
    font-size: 1.4rem;
  }

  &__location {
    grid-column: location;
    font-size: 1.4rem;
  }

  &__title {
    font-size: 1.4rem;
    text-align: start;
    font-weight: 600;
    padding: 0.3rem 0;
    box-sizing: border-box;
  }

  &__category--list {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: blue;
    display: flex;
  }

  .category {
    padding: 0 1rem 0 0;
    &::first-letter {
      text-transform: uppercase;
      font-size: 1.4;
      font-weight: 700;
    }

    &:not(:last-child)::after {
      content: ',';
    }
  }

  &__rating {
    margin: auto;
    padding: 0.2rem 0;
  }

  &__review {
    display: flex;
    font-size: 1.6rem;

    .reviewer-image {
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
    }

    .review-text {
      font-size: 1.3rem;
      max-height: 3.5rem;
      text-justify: newspaper;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 40rem;
    }
  }
}

.image {
  width: 20rem;
  height: 20rem;
  background-size: 100%;
  border-radius: 3px;
  overflow: hidden;
}
</style>
