<script>
import Place from '@/components/Places/PlaceListItem.vue';

export default {
  name: 'PlacesList',

  components: {
    Place,
  },

  props: {
    placesList: {
      type: Array,

      default: function() {
        return [];
      },
    },
  },
};
</script>

<template>
  <div class="places">
    <Place
      v-for="place in placesList"
      :key="place.id"
      :place="place"/>
  </div>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';

.places {
  width: 100%;
}
</style>
