<script>
import BaseSvgIcon from '../UI/BaseSvgIcon';
import { placesActions, placesGetters } from '@/utils/helpers';

export default {
  name: 'PlaceFilter',
  components: { BaseSvgIcon },
  data() {
    return {
      filter: {
        radius: 0,
        categories: 'All',
        location: null,
      },
      showExtraFilter: false,
    };
  },
  computed: {
    categories() {
      const categoriesName = this.getCategories().map(cat => {
        return cat.name;
      });
      return categoriesName;
    },
  },

  created() {
    this.fetchPlacesCategories();
  },

  methods: {
    updateFilterParams() {
      const params = this.filter;
      let query = Object.keys(params)
        .map(key => this.addFilterValue(key))
        .filter(val => val !== null)
        .join('&');

      this.fetchPlacesWithQueries(query);
    },

    addFilterValue(key) {
      if (!this.filter[key]) {
        return null;
      }

      if (key === 'categories' && this.filter[key] === 'All') {
        return null;
      }

      return key + '=' + this.filter[key];
    },

    ...placesActions,
    ...placesGetters,
  },
};
</script>

<template>
  <div class="filter-section">
    <div class="filter-box">
      <div style="display: flex">
        <div class="filter__button">
          <BaseSvgIcon
            icon-id="icon-filter-horizontal"
            @click="showExtraFilter = !showExtraFilter"/>
          <h3 class="btn"> Filters</h3>
        </div>
        <div class="filter__main">
          <ul class="filter__items">
            <li class="filter__item ">
              <label for="distance"> Distance (km) {{ filter.radius }} </label>
              <input
                id="distance"
                v-model="filter.radius"
                type="range"
                class="filter__item--distance"
                min="0"
                max="300"
                step="1"
                @change="updateFilterParams"
              >
            </li>
            <li class="filter__item filter__item--categories">
              <label> Categories</label>
              <select
                v-model="filter.categories"
                name="category"
                @change="updateFilterParams">
                <option 
                  value="All" 
                  selected>All</option>
                <option 
                  v-for ="(category ,ind) in categories" 
                  :value="category"
                  :key="category +'__' + ind">{{ category }}
                </option>
              </select>
            </li>
            <li class="filter__item filter__item--price"> Price</li>
          </ul>
        </div>
      </div>
      <div
        v-if="showExtraFilter"
        class="filter__more pt-2">
        <ul class="filter__items">
          <li class="filter__item--sort-by"> Sort by</li>
          <li class="filter__item--age-range">Age range</li>
          <li class="filter__item--name">Name</li>
          <li class="filter__item--owner">Owner</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';

.filter-section {
  width: 100%;
  background-color: $lemon-background-color;
}
.filter-box {
  @include main-container-box;
}

.filter__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  list-style: none;
}
.filter__main {
  flex: 1;
}

.filter__button {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: $container-border;
}
.filter__item {
  padding: 0.5rem 0.8rem;

  &--distance {
    -webkit-appearance: none;
    height: 1rem;
    background-color: $color-grey-light-2;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
    outline: none;
    outline: transparent;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background: $color-primary-main;
    }

    &::-moz-range-thumb {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background: $color-primary-main;
    }
  }

  &--categories {
    width: 100%;
    padding: 5px 8px;

    select {
      height: 25px;
      outline: none;
      border: none;
    }
  }
}

input,
select {
  display: block;
  width: 100%;
}

label,
option {
  &:first-letter {
    text-transform: uppercase;
  }
}
option {
  height: 3.4rem;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  background-color: whitesmoke;
  padding: 1rem;
  border-bottom: 2px solid black;
}
label {
  font-size: 1.4rem;
  margin-bottom: 8px;
}
</style>
