<script>
import Rating from '@/components/Rating';
import NavItems from '@/components/Navigation/Items/NavItems';
import { PlaceDetail } from '@/models/place';

export default {
  name: 'PlaceDetail',

  components: { NavItems, Rating },

  data() {
    return {
      currentImageIndex: 0,
      id: Number.parseInt(this.$route.params.id),
    };
  },

  computed: {
    place() {
      return this.$store.getters['places/getSelectedPlace'];
    },

    address() {
      return this.place.location.properties.address;
    },
    currentImage() {
      if (this.place.images) {
        return 'url(' + this.place.images[this.currentImageIndex].link + ')';
      }
    },
  },

  async fetch({ store, params }) {
    const id = Number.parseInt(params.id);
    await store.dispatch('places/fetchplaceById', id);
  },

  methods: {
    nextImage() {
      if (this.currentImageIndex < this.place.images.length - 1) {
        this.currentImageIndex += 1;
      }
    },

    previousImage() {
      if (this.currentImageIndex > 0) {
        this.currentImageIndex -= 1;
      }
    },
  },
};
</script>

<template>
  <div class="place-section">
    <NavItems/>
    <section class="place">
      <div class="place__name">{{ place.name }}</div>
      <ul class="place__categories">
        <li
          v-for="(category, index) in place.categories"
          :key="index"
          class="category"> {{ category.name }}
        </li>
      </ul>
      <div class="place__details">
        <div 
          :style="{backgroundImage: currentImage }" 
          class="place__image">
          <div class="image-icon">
            <div
              class="previous-image"
              @click="previousImage">
              <BaseSvgIcon
                icon-id="icon-chevron-thin-left"
                fill="white"/>
            </div>
            <div
              class="next-image"
              @click="nextImage">
              <BaseSvgIcon
                icon-id="icon-chevron-thin-right"
                fill="white"/>
            </div>
          </div>
          <ul class="image-step">
            <li
              v-for="(item, index) in place.images"
              :key="index"
              :class="{active: index === currentImageIndex}"
              class="step"/>
          </ul>
        </div>
        <div class="place__location">
          <div class="item">
            <div class="item__icon">
              <BaseSvgIcon icon-id="icon-location"/>
            </div>
            <div class="item__description">
              <p :style="{fontSize: '1.3rem' }"> {{ address }}</p>
              <Rating :rating="3.5"/>
            </div>
          </div>
          <!-- <div class="item">
            <div class="item__icon">
              <BaseSvgIcon icon-id="icon-calendar"/>
            </div>
            <div class="item__description">
              <p><strong>From: </strong> {{ place.name }}</p>
              <p><strong>To: </strong> {{ place.name }}</p>
            </div>
          </div> -->
          <div class="item">
            <div class="item__icon">
              <BaseSvgIcon icon-id="icon-phone"/>
            </div>
            <div class="item__description"> {{ place.contact }}</div>
          </div>
          <div class="contact"> Contact</div>
        </div>
        <div class="place__map-box"> Map Box</div>
      </div>
    </section>
    <div class="extra-info mt-3">
      <div class="place-description">
        <h1 class="header">what / Why </h1>
        <p class="text">
          {{ place.description }}
        </p>
      </div>
      <aside class="place-review">
        <BaseButton :disable="'false'"> Attend</BaseButton>

      </aside>
    </div>
    <div class="similar-place"> Similar Event</div>

  </div>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';

.place {
  &-section {
    min-height: calc(100vh - 28rem);
    width: 100%;
  }
  margin: auto;
  max-height: 40rem;
  width: 60%;
  background-color: $container-background;
  border: $container-border;

  &__name {
    font-size: 3rem;
    display: block;
    margin: auto;
    text-align: center;
  }

  &__categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 1rem 0.1rem;
  }

  .category {
    color: $color-primary-light;
    font-size: 1.5rem;
    &:not(:last-child)::after {
      content: ',';
      margin-right: 0.5rem;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__image,
  &__location,
  &__map-box {
    flex: 0 0 33%;
    height: 30rem;
    border: 1px solid white;
    background: $color-white;
  }

  &__image {
    position: relative;
    background-size: cover;
    background-position: center;
  }

  .image-icon {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    .next-image,
    .previous-image {
      font-size: 1.2rem;
      opacity: 0.5;
      transition: opacity 0.3s;
      background-color: #1a0406;

      &:hover {
        opacity: 1;
      }
    }
  }
  .image-step {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    align-items: center;
    list-style: none;
    min-width: 10%;
    max-width: 20%;
    height: 2rem;
    margin: auto;

    position: absolute;
    bottom: 1rem;
    z-index: 100;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);

    .step {
      flex: 0 0 20%;
      height: 1rem;
      width: 1rem;
      margin: auto;
      border-radius: 10rem;
      background: rgba($color-white, 0.5);
      z-index: inherit;
    }
  }

  .active {
    background: $color-primary-main !important;
  }
}

.extra-info {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 60%;
  margin: auto;

  .place {
    &-description {
      flex: 0 0 60%;

      .header {
        font-size: 2rem;
        font-weight: bold;
        color: red;
      }

      font-size: 1.6rem;
      font-weight: 400;
      text-justify: newspaper;
    }
  }

  &-review {
    flex: 0 0 28%;
  }
}

.item {
  padding: 1rem 1rem 2rem;
  display: flex;

  &:not(:last-child) {
    border-bottom: $container-border;
  }

  &__icon {
    margin-right: 1rem;
  }
  &__description {
    flex: 1;
  }
}
</style>
