<script>
import { required, minLength } from 'vuelidate/lib/validators';
import { auth } from '@/utils/helpers';

export default {
  name: 'Login',

  layout: 'AuthLayout',

  data() {
    return {
      login: '',
      password: '',
      error_message: '',
    };
  },

  methods: {
    /**
     * store actions
     **/
    ...auth,
    /**
     * show login error
     * */
    showLoginErrorMessage(msg) {
      this.error_message = msg.detail;
    },
    /**
     * login the user
     **/
    onLogin: function() {
      const user = {
        password: this.password,
      };
      let number = this.login.indexOf('@');
      if (number > 0 && number < this.login.length - 4) {
        user.email = this.login;
      } else {
        user.username = this.login;
      }

      this.signin(user)
        .then(res => {
          if (res === true) {
            this.$router.push('/users');
          }
        })
        .catch(err => {
          console.log(err);
          this.showLoginErrorMessage(err.response.data);
        });
    },
    /**
     * login use with facebook ++
     */
    async facebookLogin() {
      try {
        const res = await this.$store.dispatch('facebookLogin');
        if (res) {
          this.$router.push('/users');
        }
      } catch (err) {
        this.showLoginErrorMessage(err.data);
      }
    },
    async googleLogin() {
      try {
        const result = await this.$store.dispatch('googleSignIn');
        if (result === true) {
          this.$router.push('/users');
        }
      } catch (err) {
        this.showLoginErrorMessage(err.data);
      }
    },
  },
  validations: {
    login: {
      required,
      minLength: minLength(5),
    },
    password: {
      required,
      minLength: minLength(8),
    },
  },
};
</script>

<template>
  <div class="login-section">
    <div class="login-section__logo">&nbsp;</div>
    <div class="login-form-box">
      <form
        class="login-form"
        @submit.prevent="onLogin">
        <p v-if="error_message">{{ error_message }}</p>
        <BaseInput
          id="email"
          v-model="login"
          type="text"
          place-holder="Email/Username"
          @blur="$v.login.$touch()"
        >
          Email
        </BaseInput>

        <BaseInput
          v-model="password"
          :id="'password'"
          :type="'password'"
          :place-holder="'Password'"
          @blur="$v.password.$touch()"
        >
          Password
        </BaseInput>

        <button
          :disabled="$v.$invalid"
          class="login-button"
          type="submit">
          Sign in
        </button>

        <div>
          <nuxt-link
            class=""
            to="/accounts/request_code">
            Forgot the password?
          </nuxt-link>
        </div>
      </form>
      <div class="social-login__container">
        <div class="social-login__heading margin-bottom-medium">
          <i>Sign in with</i>
        </div>
        <div class="social-login__list">
          <button
            class="social-login__list--item"
            @click="facebookLogin">
            <BaseSvgIcon
              :style="{height: '3rem', width: '3rem'}"
              icon-id="icon-facebook" />
            Facebook
          </button>
          <button
            class="social-login__list--item"
            @click="googleLogin">
            <BaseSvgIcon
              :style="{height: '3rem', width: '3rem'}"
              icon-id="icon-google-with-circle" />
            Google
          </button>
          <!--<a class="btn btn-info btn-block" ><i class="fa fa-twitter"></i> Sign in with <b>Twitter</b></a>-->
        </div>
      </div>
    </div>

    <div class="register">
      Don't have an account?
      <BaseLink :name="'login'"> Register Now! </BaseLink>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';

.login-section {
  padding: 6rem 15rem;
  background: linear-gradient(
      to right,
      rgba($color-primary-main, 0.7),
      rgba($color-primary-main, 0.2)
    ),
    url('~assets/img/image7.jpg') top;
  height: calc(100vh - 28rem);
  border: 1px solid $color-white;
  border-radius: 5px;

  @include respond(tab-port) {
    padding: 3rem 8rem;
  }
}

.login-form-box {
  display: block;
  justify-content: center;
  align-content: center;
  width: 40%;
  margin: 1rem auto;

  @include respond(tab-port) {
    width: 60%;
  }

  @include respond(phone) {
    width: 90%;
  }
}

.login-form {
}

.social-login {
  &__container {
    margin: auto;
  }

  &__heading {
    text-align: center;
    font-size: 1.8rem;
    color: $color-white;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    &--item {
      flex: 0 0 40%;
      height: 5rem;
      display: flex;
      outline: none;
      border-radius: 10px;
      font-size: 1.6rem;
      font-weight: 600;
      color: $color-white;
      align-items: center;
      max-width: 45%;
      padding: 1rem;
      background-color: transparent;
      border: 1px solid;
    }
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    background-color: inherit;
    fill: white;
    border: none;
    outline: none;
    margin-right: 1rem;
    position: relative;

    .background {
      position: absolute;
      top: 0.2rem;
      left: 0.2rem;
      width: 98%;
      height: 98%;

      &__facebook {
        background-color: #5643fa;
      }

      &__google {
        background-color: red;
      }
    }
  }
}

.login-button {
  display: block !important;
  padding: 1rem 4rem;
  outline: none;
  border-radius: 10rem;
  color: white;
  background-color: #009688;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  cursor: pointer;
  margin: auto;
  width: 80%;

  &[disabled='disabled'] {
    background-color: rgba($color-primary-main, 0.2);
    border: 1px solid;
  }
}

.google-icon {
  border-radius: 100px;
}

.register {
  color: $color-white;
  text-align: center;
}
</style>
