<template>
  <b-container class="chat-layout">
    <b-row style="max-height: inherit;">
      <b-col 
        cols="4" 
        style="max-height: inherit;">
        <div class="chat-search">
          <base-input :place-holder="Search"/>
        </div>
        <ul class="chat-list"> 
          <chat-list 
            v-for="item in 22" 
            :key="item"/>
        </ul>
      </b-col>
      <b-col 
        cols="8" 
        style="padding-left:2px ;">
        <chat-message/>
      </b-col>
    </b-row>

  </b-container>
  
</template>
<script>
import ChatList from '@/components/Chat/ChatList.vue';
import ChatMessage from '@/components/Chat/ChatMessage.vue';

export default {
  name: 'Index',
  components: {
    ChatList,
    ChatMessage,
  },
};
</script>
<style scoped lang="scss">
@import '~assets/sass/main';
.chat-layout {
  max-height: calc(100vh - 26rem);
}

.chat-list {
  max-height: 92%;
  padding: 0.1rem 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  @include custom-scrollbar;
}
</style>
