<script>
import PlacesIconListItem from './PlacesIconListItem.vue';
export default {
  name: 'PlacesIconList',
  components: {
    PlacesIconListItem,
  },
  data() {
    return {
      icons: [
        { iconId: 'icon-drink', title: 'Drink' },
        { iconId: 'icon-spoon-knife', title: 'Restaurant' },
        { iconId: 'icon-man-woman', title: 'Tinder' },
        { iconId: 'icon-tools', title: 'Services' },
      ],
    };
  },
};
</script>

<template>
  <b-container class="mt-2">
    <b-row 
      class="ma " 
      no-gutters>
      <places-icon-list-item 
        v-for="icon in icons" 
        :key="icon.iconId" 
        :icon-id="icon.iconId" 
        :title="icon.title"/>
    </b-row>
  </b-container>
</template>

<style scoped lang="scss">
</style>
