<script>
export default {
  name: 'PlacesIconListItem',
  props: {
    iconId: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
  },
  methods: {
    navigateTo() {
      this.$router.push({ path: '/places', query: { Search: this.title } });
    },
  },
};
</script>

<template>
  <b-col
    class=" d-flex place__icon--item" 
    @click="navigateTo">
    <base-svg-icon 
      :icon-id="iconId" 
      width="1.6rem" 
      height="1.6rem" 
      fill="white"
    />
    <strong>{{ title }}</strong>
  </b-col>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';

.place__icon {
  height: 2rem;
  width: 2rem;
  fill: $color-white;

  &--item {
    font-size: 1.4rem;
    color: $color-white;
    cursor: pointer;
  }
}
</style>
