<script>
import Rating from '@/components/Rating';
import NavItems from '@/components/Navigation/Items/NavItems.vue';

export default {
  name: 'EventDetail',

  components: { NavItems, Rating },

  data() {
    return {
      currentImageIndex: 0,
      imageStyle: { center: true },
    };
  },

  computed: {
    event() {
      return this.$store.getters['events/getSelectedEvent'];
    },
    images() {
      return [
        ...this.event.images,
        ...this.event.user_generated_images,
        ...this.event.place.images,
      ];
    },
    currentImage() {
      if (this.images && this.images.length >= 1) {
        return this.images[this.currentImageIndex].link;
      }
      return this.event.thumbnail;
    },

    placeName() {
      return this.event.place.name;
    },

    placeAddress() {
      const properties = this.event.place.location.properties;
      let region = properties.city ? properties.city.region : null;
      let name = properties.city ? properties.city.name : null;
      let address = properties.address;

      let values = [properties.postal_code, region, name, address];

      return values.filter(elt => elt != null).join(', ');
    },
  },

  methods: {
    nextImage() {
      if (this.currentImageIndex < this.images.length - 1) {
        this.currentImageIndex += 1;
      }
    },

    previousImage() {
      if (this.currentImageIndex > 0) {
        this.currentImageIndex -= 1;
      }
    },

    attendEvent() {
      this.$axios
        .$post(`/events/${this.event.id}/attend/`)
        .then(result => {})
        .catch(error => {});
    },
  },
};
</script>

<template>
  <div class="event-section">
    <NavItems/>
    <div class="section-header">
      <div class="event">
        <h1 class="event__name">{{ event.name }}</h1>
        <ul class="event__categories">
          <li
            v-for="category in event.categories"
            :key="category.name "
            class="category"> {{ category.name }}
          </li>
        </ul>
    
        <b-row no-gutters>
          <b-col>    
            <div class="event__image">
              <b-img 
                v-bind="imageStyle"
                :src="currentImage" 
                style="height:100%; width:inherit;" />
              <div class="image-icon">
                <div
                  class="previous-image"
                  @click="previousImage">
                  <BaseSvgIcon
                    icon-id="icon-chevron-thin-left"
                    fill="#009688"/>
                </div>
                <div
                  class="next-image"
                  @click="nextImage">
                  <BaseSvgIcon
                    icon-id="icon-chevron-thin-right"
                    fill="#009688"/>
                </div>
              </div>
              <ul class="image-step">
                <li
                  v-for="(item, index) in images"
                  :key="index"
                  :class="{active: index === currentImageIndex}"
                  class="step"/>
              </ul>
            </div>
          </b-col>
          <b-col>
            <div class="event__location d-flex flex-column justify-content-between p-1">
              <b-row 
                no-gutters 
                class="separator mb-1 flex-fill">
                <b-col cols="2">
                  <BaseSvgIcon 
                    icon-id="icon-location" 
                    width="2rem" 
                    height="2rem" 
                    fill="#009688"/>
                </b-col>
                <b-col>
                  <div>
                    <h4 class="text-capitalize text-md pl-1"> {{ placeName }}</h4>
                    <Rating :rating="0"/>
                    <p class="text-justify text-wrap"> {{ placeAddress }}</p>
                  </div> 
                </b-col>
              </b-row>
              <b-row 
                no-gutters
                class="flex-fill" >
                <b-col cols="2">
                  <BaseSvgIcon 
                    icon-id="icon-calendar"
                    width="2rem" 
                    height="2rem" 
                    fill="#009688"/>
                </b-col>
                <b-col>
                  <div class="item__description">
                    <p><strong>Day: </strong> {{ event.time | date }}</p>
                    <p><strong>Time: </strong> {{ event.time | time }}</p>
                  </div>
                </b-col>
              </b-row>
            </div>
          </b-col>
          <b-col style="margin-left:1rem;">
            <div class="event__map-box"> Map Box</div>
          </b-col>
        </b-row>
          
      </div>
    </div>
    <b-row 
      no-gutters 
      class=" mt-3">
      <b-col 
        cols="8" 
        class="event-description">
        <h1 class="header">What / Why </h1>
        <p class="text">
          {{ event.description }}
        </p>
      </b-col>
      <b-col 
        class="event-review">
        <div class="event-attend">
          <BaseButton
            :is-disable="false"
            @click="attendEvent"> Attend</BaseButton>
        </div>
        
       
      </b-col>
    </b-row>
    <div class="similar-event"> Similar Event</div>
  </div>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';

.section-header {
  padding-top: 0.3rem;
  background-color: $container-background;
  width: inherit;
}
.event {
  margin: auto;

  &-section {
    min-height: calc(100vh - 28rem);
  }

  &__name {
    font-size: 1.6rem;
    text-align: left;
    text-transform: capitalize;
  }

  &__categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0.5rem 0.1rem;
  }

  .category {
    color: $color-primary-light;
    font-size: 1.4rem;
    font-weight: 500;
    &:not(:last-child)::after {
      content: ',';
      margin-right: 0.3rem;
    }
  }

  &__image,
  &__location,
  &__map-box {
    height: 30rem;
    border: 1px solid white;
    background: $color-white;
    border: $container-border;
  }

  &__map-box {
    border-radius: 8px;

    @include respond(phone) {
      display: none;
    }
  }

  &__image {
    position: relative;
    width: inherit;
  }

  .image-icon {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    .next-image,
    .previous-image {
      font-size: 1.2rem;
      width: 1.5rem;
      opacity: 0.5;
      transition: opacity 0.3s;
      background-color: white;

      &:hover {
        opacity: 1;
      }
    }
  }
  .image-step {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    align-items: center;
    list-style: none;
    min-width: 10%;
    max-width: 20%;
    height: 2rem;
    margin: auto;

    position: absolute;
    bottom: 1rem;
    z-index: 100;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);

    .step {
      flex: 0 0 20%;
      height: 1rem;
      width: 1rem;
      margin: auto;
      border-radius: 10rem;
      background: rgba($color-white, 0.5);
      z-index: inherit;
    }
  }

  .active {
    background: $color-primary-main !important;
  }
}

.event {
  &-description {
    border-right: $container-border;

    .header {
      font-size: 1.6rem;
      font-weight: bold;
      color: red;
    }

    font-size: 1.6rem;
    font-weight: 400;
    text-justify: newspaper;
  }

  &-date {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

.separator {
  border-bottom: $container-border;
}
</style>
