<script>
import {
  minLength,
  maxLength,
  required,
  numeric,
} from 'vuelidate/lib/validators';

export default {
  name: 'ConfirmAccount',

  data() {
    return {
      code: '',
      accountWasConfirmed: false,
      errorMessage: null,
    };
  },

  methods: {
    confirmAccount() {
      let data = {
        confirmation_code: this.code,
      };
      let token = JSON.parse(localStorage.getItem('registration-token'));
      let header = {
        'Content-type': 'application/json',
        'X-CLIENT-ID': process.env.VUE_APP_CLIENT_ID,
        'X-CLIENT-SECRET': process.env.VUE_APP_CLIENT_SECRET,
      };
      let date = new Date().getTime();
      if (date > new Date(token.expiry_date).getTime()) {
        this.axios
          .$post('accounts/refresh_token', {
            old_token: token.registration_token,
          })
          .then(response => {
            let registrationToken = response.data.access_token;
            let expiryDate = response.data.expiry_date;

            localStorage.setItem(
              'registration-token',
              JSON.stringify({
                registration_token: registrationToken,
                expiry_date: expiryDate,
              }),
            );

            header.Authorization = registrationToken;
          })
          .catch(error => {
            this.errorMessage = error.response.data.detail;
          });
      } else {
        header.Authorization = token.registration_token;
      }
      // send a confirmation request
      this.$axios
        .$post('accounts/confirm', data, { headers: header })
        .then(res => {
          if (res.status === 200) {
            localStorage.removeItem('registration-token');
            this.accountWasConfirmed = !this.accountWasConfirmed;
          }
        })
        .catch(err => {
          this.errorMessage = err.response.data.detail;
        });
    },
  },

  validations: {
    code: {
      numeric,
      required,
      minLength: minLength(6),
      maxLength: maxLength(6),
    },
  },
};
</script>

<template>
  <Layout>
    <div class="confirm-box">
      <div v-if="!accountWasConfirmed">
        <p class="u-text-center margin-bottom-medium welcome-text">
          Thank you for register to <span class="brand">WeOut</span> <br >
          check your email to get the activation code It will be valid only for
          one hour
        </p>
        <p
          v-if="errorMessage"
          style="color: red">{{ errorMessage }}</p>
        <form
          class="form"
          @submit.prevent="confirmAccount">
          <div v-if="$v.code.$dirty">
            <ul class="form-invalid">
              <li v-if="!$v.code.minLength || !$v.code.maxLength">
                The code should be 6 digit
              </li>
              <li v-if="!$v.code.required">This Field is required</li>
              <li v-if="!$v.code.numeric">The Code only a positive number</li>
            </ul>
          </div>
          <BaseInput
            v-model="code"
            :place-holder="'Confirmation code'"
            type="number"
            @blur="$v.code.$touch()"
          >
            Confirmation
          </BaseInput>
          <BaseButton :disabled="$v.$invalid"> Send</BaseButton>
        </form>
      </div>
      <!---- sign in redirection --->
      <div v-if="accountWasConfirmed">
        <p>
          You account was create successfully you can click
          <router-link to="/login">here</router-link>
          to login
        </p>
      </div>
    </div>
  </Layout>
</template>

<style scoped lang="scss">
@import '../../assets/sass/main';
.confirm-box {
  height: 40rem;
  width: 50%;
  margin: 10rem auto;
  padding-top: 10rem;
  background-color: $color-grey-light-2;

  @include respond(tab-port) {
    margin: 2rem auto;
    padding-top: 5rem;
    width: 70%;
  }
}

.brand {
  color: $color-primary-main;
  font-size: 2rem;
  font-weight: 600;
}

.form {
  margin: auto;
  width: 50%;
}

.form-invalid {
}

.welcome-text {
  font-size: 1.6rem;
}
</style>
