<script>
export default {
  name: 'EventListHeader',

  methods: {
    gotoCreateEvent() {
      this.$router.push('/events/create');
    },
  },
};
</script>

<template>
  <b-container fluid>
    <b-row class="events-cities">
      <b-col cols="2">Weout Douala</b-col>
      <b-col 
        offset-md="6" 
        offset-sm="0"
        offset-xs="0" >Yaounde</b-col>
      <b-col>Lagos</b-col>
      <b-col>Kribi</b-col>
      <b-col>Bependa</b-col>
    </b-row>
    <b-row class="heading">
      <b-col 
        cols="3" 
      >
        <h2 class="heading-secondary">
          Event SpotLight
        </h2> 
      </b-col>
      <b-col 
        cols="3"
        offset-xs="4"
        offset-md="6"
        class="mt-1 mb-1"> 
        <BaseButton 
          :style="{fontSize: 14 + 'px', padding: 8 +'px'}"
          :is-disable="false" 
          :animate="false" 
          @click="gotoCreateEvent"> 
          create Event
        </BaseButton>
      </b-col>
    </b-row>
  </b-container >
</template>

<style scoped lang="scss">
@import '~assets/sass/main';

.events-cities {
  border-bottom: $box-border;
  height: 4rem;
  font-size: 1.4rem;
  color: $color-primary-main;
  text-align: center;
  align-items: center;
}

.heading {
  justify-items: center;
  margin-top: 1rem;
}
</style>
