<script>
import PlacesList from '@/components/Places/PlacesList.vue';
import PlaceFilter from '@/components/Places/PlaceFilter';
import Pagination from '@/components/Pagination';
import FilterBox from '@/components/FilterBox';
import { placesActions, placesGetters } from '@/utils/helpers';

export default {
  name: 'Places',

  components: { Pagination, PlaceFilter, PlacesList, FilterBox },

  async fetch({ store, route }) {
    const query = route.query;

    const queryParam = Object.entries(query)
      .map(entry => entry.join('='))
      .join('&');
    await store.dispatch('places/fetchPlacesWithQueries', queryParam);
  },
  data() {
    return {
      page: 1,
    };
  },
  computed: {
    places() {
      return this.getPlaces()(this.page);
    },
    show() {
      return this.places.length < 0;
    },
    total() {
      return this.getCurrentCount();
    },
    hasNext() {
      return this.hasNextPage();
    },
  },
  methods: {
    updatePage(num) {
      this.page = num;
    },

    ...placesGetters,
    ...placesActions,
  },
};
</script>

<template>
  <div class="layout">
    <FilterBox>
      <PlaceFilter/>
      <template v-slot:title>
        <h2 class="heading-secondary ">Popular places in your town</h2>
      </template>
    </FilterBox>
    <div class="main-container pb-2 pt-2">
      <div
        v-if="show"
        class="u-text-center"> Not Place in the list</div>
      <div
        v-else
        class="places-list">
        <PlacesList :places-list="places"/>
        <Pagination
          :count="total"
          :has-next="hasNext"
          :fetch-next-page="fetchNextPage"
          @current-page="updatePage($event)"/>
      </div>
      <div class="container-left">
        <div
          class="map">
          <div class="map__box"> &nbsp;</div>
          <div class="extra">Extras info thing goes here</div>
        </div>
      </div>
    </div>
  </div>

</template>
<style scoped lang="scss">
@import '~assets/sass/main';

.layout {
  background-color: $color-white;
}

.main-container {
  @include main-container-box;
  display: grid;
  grid-template-columns: [places] 2fr [map] 1fr;
  grid-gap: 15px;

  @include respond(phone) {
    width: 100vw;
    grid-template-columns: [places] 1fr;
    grid-gap: 0;
  }
}
.places-list {
  grid-column: places;
  display: block;
}
.container-left {
  grid-column: map;
  @include respond(phone) {
    display: none;
  }
}
.map {
  position: -webkit-stiky;
  position: sticky;
  top: 2rem;

  &__box {
    height: 40rem;
    min-width: 90%;
    margin: auto;
    background-color: orangered;
  }
}
</style>
