<template>
  <div 
    class="place-item" 
    @click="fetchPlaceByCategory">
    <img
      :src="require(`@/assets/${place.img}`)"
      class="place__img"
      alt="Card image cap"
    >
    <h3 class="place__title u-text-center">{{ place.name }}</h3>
  </div>
</template>

<script>
export default {
  name: 'PlaceIem',
  props: {
    place: {
      type: Object,
      required: true,
    },
  },
  methods: {
    fetchPlaceByCategory() {
      this.$router.push({
        path: '/places',
        query: {
          search: this.place.name.toLowerCase(),
          categories: this.place.name.toLowerCase(),
        },
      });
    },
  },
};
</script>

<style scoped lang="scss">
@import '~assets/sass/main';

.place-item {
  flex: 0 0 20%;
  width: 100%;

  overflow: hidden;
  padding: 0 1.5rem;

  &:hover {
    cursor: pointer;
  }

  @include respond(tab-port) {
    flex: 0 0 45%;
  }

  @include respond(phone) {
    flex: 0 0 80%;
    max-width: 30rem;
  }
}

.place {
  &__img {
    width: 100%;
    height: 15rem;
    border-radius: 1.5rem;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 700;
    padding-top: 1.5rem;
  }
}
</style>
