<script>
import AppPlace from '@/components/Welcome/PlaceCategoryItem';

export default {
  name: 'PlaceList',
  components: {
    AppPlace,
  },

  data() {
    return {
      places: [
        { name: 'Gym', img: 'img/image1.jpg' },
        { name: 'Coffee', img: 'img/image2.jpg' },
        { name: 'Bar', img: 'img/image3.jpg' },
        { name: 'Restaurants', img: 'img/image4.jpg' },
      ],
    };
  },
};
</script>

<template>
  <section class="places-section">
    <div class="u-text-center mb-1">
      <h2 class="heading-secondary">HOT PLACES IN YOUR LOCATION</h2>
    </div>
    <div class="places-list">
      <AppPlace
        v-for="(place, index) of places"
        :place="place"
        :key="index"/>
    </div>
  </section>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';

.places-section {
  min-height: 30vh;
  width: 60%;
  margin: 0 auto 2vh;
  padding-top: 1.5rem;
  background-color: $container-background;
}

.places-list {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
</style>
