<script>
import { toCamelCase, toSnakeCase } from '@/utils/lodashHelper.js';

export default {
  name: 'Setting',

  data() {
    return {
      username: '',
      currentPassword: '',
      newPassword: '',
      confirmPassword: '',
      errorMessage: null,
      usernameEdited: true,
    };
  },

  computed: {
    isPasswordValid() {
      return (
        this.newPassword === this.confirmPassword &&
        this.newPassword.length >= 6
      );
    },

    userId() {
      return this.$store.getters['user/getUserId'];
    },

    user() {
      return this.$store.getters['user/getUser'];
    },
  },

  methods: {
    changePassword() {
      const data = toSnakeCase({
        oldPassword: this.currentPassword,
        newPassword: this.newPassword,
      });
      this.$axios
        .$post(`/accounts/users/${this.userId}/change_password`, data)
        .then(res => {
          if (res.status >= 200 && res.status <= 299) {
            alert('Your password was update');
            this.router.push('/users/profile/');
          }
        })
        .catch(error => {
          this.errorMessage = error.response.data.detail;
        });
    },

    changeUsername() {
      const data = {
        username: this.username,
      };
      this.$axios
        .$post(`/accounts/user/${this.userId}/change_username`, data)
        .then(res => {
          this.updateEditUsename();
        })
        .catch(error => (this.errorMessage = error.response.data.detail));

      this.updateEditUsename();
    },
    updateEditUsename() {
      this.usernameEdited = !this.usernameEdited;
    },
  },
};
</script>

<template>
  <div class="setting-section">
    <form class="form-username">
      <div class="group">
        <span class="input-username">
          <BaseInput
            id="currentPass"
            v-model="username"
            :place-holder="'Your Username: ' + user.username"
            :disabled="usernameEdited"
            type="text"
            label-color="white">
            Change Username
          </BaseInput>
        </span>
        <span 
          v-if="usernameEdited"
          class="submit" 
          @click="updateEditUsename"> 
          <BaseSvgIcon 
            icon-id="icon-edit" 
            height="2rem"
            width="2rem"/>
        </span>
        <span 
          v-else 
          class="submit"> 
          <button 
            type="button"
            class="btn-change-username" 
            @click.prevent="updateEditUsename"> Change 
          </button>
        </span>
      </div>
    </form>
    <form
      class="form"
      @submit.prevent="changePassword">
      <p
        v-if="errorMessage"
        class="error-message "> {{ errorMessage }}
      </p>
      <BaseInput
        id="currentPass"
        v-model="currentPassword"
        type="password"
        place-holder="Current password"
        label-color="white">
        Current password
      </BaseInput>
      <BaseInput
        id="newPass"
        v-model="newPassword"
        type="password"
        place-holder="New password"
        label-color="white">
        New password
      </BaseInput>
      <BaseInput
        id="confirmPass"
        v-model="confirmPassword"
        type="password"
        place-holder="New password"
        label-color="white">
        Confirm password
      </BaseInput>

      <BaseButton
        :is-disable="!currentPassword || !isPasswordValid"
        type="submit">
        Send
      </BaseButton>
    </form>
  </div>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';
.error-message {
  text-align: center;
  color: red;
  text-transform: uppercase;
  padding: 0.5rem 3rem 2rem;
}
.setting-section {
  .form {
    &-username {
      height: 10%;
      padding: 3rem 10rem;
    }

    width: 100%;
    height: 90%;
    padding: 3rem 10rem;
  }
}

.group {
  display: flex;
  height: auto;

  .input-username {
    width: 100%;
  }

  .submit {
    margin-left: -5.8rem;
    height: 4rem;
    width: 4.6rem;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .btn-change-username {
      height: 100%;
      width: 100%;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      background-color: grey;
      outline-color: none;
      border: none;
    }
  }
}
</style>
