<script>
export default {
  name: 'Index',
};
</script>

<template>
  <div class="section-wrapper">
    Main
  </div>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';

.section-wrapper {
  width: 100%;
  @include display-flex-space-between;
}
</style>
