<script>
import { toSnakeCase } from '@/utils/lodashHelper';
import { uploadToAWS } from '@/utils/awsHelper';

export default {
  name: 'ProfilePhoto',

  data() {
    return {
      file: null,
      previewFile: null,
    };
  },

  computed: {
    user() {
      return this.$store.getters['user/getUser'];
    },

    preview() {
      return this.previewFile || this.user.avatar;
    },
  },

  watch: {
    file: function(newFile) {
      const reader = new FileReader();

      reader.onloadend = e => {
        this.previewFile = e.target.result;
      };

      reader.readAsDataURL(newFile);
    },
  },

  methods: {
    async changeAvatar() {
      const data = toSnakeCase({
        fileName: this.file.name,
        fileSize: this.file.size,
        fileType: this.file.type,
        dest: 'user_images',
      });
      try {
        const uploadParams = await this.$axios.$post(
          '/core/s3-upload-params',
          data,
        );
        const uploadUrl = await uploadToAWS(uploadParams, this.file);

        if (!uploadUrl) {
          throw new Error('could not load to amazon');
        }

        this.$axios.$patch(`/accounts/users/${this.user.id}`, {
          avatar: uploadUrl,
        });
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<template>
  <div class="section-photo">
    <div class="image-upload-preview">
      <img 
        :src="preview"
        class="upload-preview-avatar" 
        alt="AVATAR">
      <b-form-file
        v-model="file"
        class="mt-2 mb-2"
        placeholder="Choose a file..."
        drop-placeholder="Drop file here..."
      />

      <BaseButton 
        :is-disable="!Boolean(previewFile)" 
        @click="changeAvatar"> Save </BaseButton>
    </div>
  </div>
</template>

<style scoped lang="scss">
.custom-file-input {
  height: 4rem;
  border: none;
  outline: none;
}

.section-photo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-upload-preview {
  width: 60%;
  height: 70%;
  margin: auto;
}

.upload-preview-avatar {
  width: 50%;
  min-height: 18rem;
  background-size: cover;
  margin: auto;
}
</style>
