@import "../base/variables";

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.6rem;
  line-height: 1.5;
  border-radius: 0.25rem;

  &-outline-green {
    color: $color-white;
    background-color: transparent;
    background-image: none;
    border-color: $color-primary-dark;
    transition: all .2s;

    &:hover {
      background-color: white;
      color: #28b485;
      box-shadow: 0 1rem 1rem rgba(0,0,0, .4);
      transform: translateY(-0.5rem);
      outline-color: transparent;
      border: transparent;
    }
  }
}
