<script>
import { required, email, minLength, sameAs } from 'vuelidate/lib/validators';

export default {
  name: 'Registration',

  layout: 'AuthLayout',

  data() {
    return {
      name: '',
      username: '',
      email: '',
      gender: '',
      birthday: '',
      password: '',
      repeatPassword: '',
      errorMessage: null,
    };
  },
  methods: {
    onSubmit() {
      const data = {
        email: this.email,
        username: this.username,
        gender: this.gender,
        password: this.password,
        birthday: this.birthday,
      };
      this.$store
        .dispatch('auth/register', data)
        .then(response => {
          if (response) {
            this.$router.push('confirm-account');
          } else {
            return new Error(
              'Failled to register the user please check the data and try again',
            );
          }
        })
        .catch(error => {
          if (error.response.data.email) {
            this.errorMessage = 'The email is already taken';
          } else if (error.response.data.username) {
            this.errorMessage = 'The username is already taken';
          } else {
            this.errorMessage = error.message;
          }
        });
    },
  },
  validations: {
    email: {
      required,
      email,
    },
    username: {
      minLength: minLength(4),
      required,
    },
    password: {
      required,
      minLength: minLength(8),
    },
    repeatPassword: {
      required,
      sameAS: sameAs('password'),
    },
    birthday: {
      required,
    },
    gender: {
      required,
    },
  },
};
</script>

<template>
  <div class="registration-section">
    <form
      class=" form-register"
      @submit.prevent="onSubmit">
      <div v-if="errorMessage">{{ errorMessage }}</div>
      <div class="form-group">
        <div
          v-if="$v.username.$dirty"
          class="d-inline-flex">
          <span
            v-if="!$v.username.minLength"
            class="error">
            the username should contained at least 4 Character
          </span>
          <span
            v-if="!$v.username.required"
            class="error"
          >This Field is required
          </span>
        </div>
        <BaseInput
          id="name"
          :type="'text'"
          v-model="username"
          :class="{ invalid: $v.username.$error }"
          :place-holder="'Username'"
          @blur="$v.username.$touch()"
        >
          Username
        </BaseInput
        >
      </div>
      <div class="form-group">
        <div v-if="$v.email.$dirty">
          <span
            v-if="!$v.email.required"
            class="error"
          >This Field is required
          </span>
          <span
            v-if="!$v.email.email"
            class="error">
            Incorrect Email format</span
            >
        </div>
        <BaseInput
          id="email"
          :type="'email'"
          :class="{ invalid: $v.email.$error }"
          v-model="email"
          :place-holder="'Email'"
          name="email"
          @blur="$v.email.$touch()"
        >
          Email
        </BaseInput
        >
      </div>
      <div v-if="$v.password.$dirty">
        <span
          v-if="!$v.password.minLength"
          class="error"
        >At least 8 symbols
        </span>
        <span
          v-if="!$v.password.required"
          class="error"
        >This Field is required
        </span>
      </div>
      <div class="form-group">
        <BaseInput
          id="pass"
          :type="'password'"
          :class="{ invalid: $v.password.$error }"
          v-model="password"
          :place-holder="'Password'"
          @blur="$v.password.$touch()"
        >Password
        </BaseInput
        >
      </div>
      <div
        v-if="$v.password.$dirty && !$v.repeatPassword.sameAS"
        class="error"
      >
        password do no match
      </div>
      <div class="form-group">
        <BaseInput
          id="pass2"
          :class="{ invalid: $v.repeatPassword.$error }"
          v-model="repeatPassword"
          :place-holder="'Password Confirm'"
          type="password"
          @blur="$v.repeatPassword.$touch()"
        >
          Confirm Password
        </BaseInput
        >
      </div>

      <div
        :class="{ invalid: $v.birthday.$error }"
        class="gender--birthday">
        <div class="birthday">
          <BaseInput
            :type="'date'"
            v-model="birthday"
            :id="'birthday'"
            required
            max="2007-12-12"
          />
        </div>

        <div class="gender">
          <!--<label for="gender" class="gender__label"> Gender *</label>-->
          <select
            id="gender"
            v-model="gender"
            class="gender__select">
            <option
              value=""
              selected
              disabled> Gender</option>
            <option
              value="M"
              class="gender__select--option"> Male</option>
            <option
              value="F"
              class="gender__select--option"> Female</option>
          </select>
        </div>
      </div>

      <button
        :disabled="$v.$invalid"
        class="signup-button"
        type="submit">
        Sign in
      </button>
      <!-- social registration-->
    </form>
    <!--<div class="or-seperator"><i>or Sign in with</i></div>-->
    <div class="social-login__container">
      <div class="social-login__heading"><i>Sign in with</i></div>
      <div class="social-login__list">
        <button class="social-login__list--item">
          <svg class="social-login__icon background__facebook">
            <use xlink:href="img/sprite.svg#icon-facebook"/>
          </svg>
          Facebook
        </button>
        <button class="social-login__list--item">
          <svg class="social-login__icon background__google">
            <use xlink:href="img/sprite.svg#icon-google-with-circle"/>
          </svg>
          Google
        </button>
        <!--<a class="btn btn-info btn-block" ><i class="fa fa-twitter"></i> Sign in with <b>Twitter</b></a>-->
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import '../../assets/sass/main';

.registration-section {
  padding: 10rem 22rem;
  background: linear-gradient(
      to right,
      rgba($color-primary-main, 0.7),
      rgba($color-primary-main, 0.2)
    ),
    url('~assets/img/image6.jpg') top;
  border: 1px solid $color-white;
  border-radius: 5px;
  min-height: calc(100vh - (28rem));

  @include respond(phone) {
    padding: 9rem 6rem;
  }
}

.form-register {
  max-width: 60%;
  margin: auto;

  @include respond(tab-port) {
    max-width: 80%;
  }

  @include respond(tab-port) {
    max-width: 90%;
  }
}

.social-login {
  &__container {
    max-width: 60%;
    margin: auto;

    @include respond(tab-port) {
      max-width: 80%;
    }

    @include respond(tab-port) {
      max-width: 90%;
    }
  }

  &__heading {
    text-align: center;
    font-size: 1.8rem;
    color: $color-white;
    margin-bottom: 1rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    &--item {
      flex: 0 0 40%;
      height: 5rem;
      display: flex;
      outline: none;
      border-radius: 10px;
      font-size: 1.6rem;
      font-weight: 600;
      color: $color-white;
      align-items: center;
      max-width: 45%;
      padding: 1rem;
      background-color: transparent;
      border: 1px solid;
    }
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    background-color: inherit;
    fill: white;
    border: none;
    outline: none;
    margin-right: 1rem;
    position: relative;

    .background {
      position: absolute;
      top: 0.2rem;
      left: 0.2rem;
      width: 98%;
      height: 98%;

      &__facebook {
        background-color: #5643fa;
      }

      &__google {
        background-color: red;
      }
    }
  }
}

.signup-button {
  display: block !important;
  padding: 1rem 4rem;
  outline: none;
  border-radius: 10rem;
  color: white;
  background-color: #009688;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  cursor: pointer;
  margin: 3rem auto;
  width: 80%;

  &[disabled='disabled'] {
    background-color: rgba($color-primary-main, 0.2);
    border: 1px solid;
  }
}

.gender--birthday {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.gender {
  flex: 0 0 47%;

  &__select {
    height: 82%;
    width: 90%;
    margin: auto;
    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 500;
    &--option {
      background-color: white;
      opacity: 0.8;
    }
  }
}

.birthday {
  flex: 0 0 47%;
}

.or-seperator {
  margin: 20px 0 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}

.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}

.error {
  font-size: 0.7rem;
  color: red;
}
</style>
