// MEDIA QUERIES
/*
0 -600px = 37.5rem  phone

600 - 900px = 56.25rem table-portrait

900 - 1200px = 75rem table-landscape

1200 - 1800px = 112rem pc screen

1800px - big desktop screen

 */

@mixin respond($break-point) {
  @if $break-point == phone {
    @media only screen and (max-width: 37.5em) {
      @content
    }
  }

  @if $break-point == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content
    }
  }

  @if $break-point == tab-land {
    @media only screen and (max-width: 75em) {
      @content
    }
  }

  @if $break-point == big-desktop {
    @media only screen and (min-width: 112em) {
      @content
    }
  }
}

@mixin display-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin display-flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin brand-typography{
  color: $color-primary-main !important;
  font-weight: 700;
  font-size: 5rem;

  @include respond(phone) {
    font-size: 4rem;
    order: 3;
  }
}

@mixin main-container-box{
  min-width: $main-container-min-width;
  max-width: $main-container-max-width;
  margin: auto;

  @include respond(phone){
    max-width: 37rem;
  }
  @include respond(tab-port){
    max-width: 54rem;
  }

  @include respond(tab-land){
    max-width: 72rem;
  }
}

@mixin custom-scrollbar {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #009864;
  }
}
