@import "../base/variables";
.heading-primary {
  text-transform: uppercase;
  text-align: center;
  color: white;

  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: .5rem;

    animation-name: moveInLeft;
    animation-duration: 4s;

    @media screen and (max-width: 600px) {
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: .9rem;
    }
  }

  &--sub {
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    word-spacing: 0.5rem;

    animation: moveInRight 2s ease-out;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  background-image: linear-gradient(
                  to right,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dark, 0.8)
  );

  transition: all 1s;
  -webkit-background-clip: text;
  color: transparent;


  &:hover{
    transform: scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(255, 255,255, .5);
  }
 &:first-letter{
   text-transform: uppercase;
 }
  @media screen and (max-width: 600px){
    font-size: 2rem;
    font-weight: 700;
  }
}

.heading-tertiary {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

//.paragraph {
//  font-size: $default-font-size;
//
//  &:not(:last-child) {
//    margin-bottom: 1rem;
//  }
//}
//
//.heading-primary {
//  font-size: 6rem;
//  text-transform: uppercase;
//  color: $color-primary-dark;
//  font-weight: 700;
//  letter-spacing: .5rem;
//}
//
//.heading-secondary {
//  font-size: 2.4rem;
//  font-weight: 700;
//  text-transform: uppercase;
//  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
//  -webkit-background-clip: text;
//  padding: 4rem 6rem;
//  color: transparent;
//}

.text-normal {
  font-size: 1.6rem;
  font-weight: 600;
  color: darkgray;
}
