
$color-primary-main: #009688;
$container-background: #f5f5f5;
$container-border: 1px solid #e6e6e6;
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$lemon-background-color: #f5f5f5;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$default-font: 1.6rem;

$main-container-min-width: 300px;
$main-container-max-width: 1000px;
$main-container-width: 916px;

$box-border: 1px solid grey;
