<script>
export default {
  name: 'EventList',

  props: {
    listEvents: {
      type: Array,
      default: function() {
        return [];
      },
    },
  },
};
</script>

<template>
  <section class="up-coming-events pt-1">
    <BaseEventCard
      v-for="(evt, index) in listEvents"
      :key="index"
      :event="evt"
    />
  </section>
</template>

<style scoped lang="scss">
@import '../assets/sass/main';

.up-coming-events {
  max-width: 70rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 1rem;
  @include respond(phone) {
    max-width: 40rem;
  }
}
</style>
