<script>
export default {
  name: 'FilterBox',
};
</script>

<template>
  <div>
    <div class="section-header u-text-center">
      <slot/>
      <slot name="title"/>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';

.section-header {
  background-color: #f5f5f5;
  height: 20rem;
  margin: auto;
  padding-top: 0.5rem;
}
</style>
