<script>
import BaseSvgIcon from '@/components/UI/BaseSvgIcon';

export default {
  name: 'Pagination',
  components: { BaseSvgIcon },
  props: {
    count: {
      type: Number,
      required: true,
    },
    hasNext: {
      type: Boolean,
      required: true,
    },
    fetchNextPage: {
      type: Function,
      required: true,
    },
  },
  data() {
    return {
      currentPage: 1,
    };
  },
  computed: {
    total() {
      return this.count > 10
        ? Math.ceil(this.count / 10) - 1
        : this.count > 0
          ? 1
          : 0;
    },
  },
  methods: {
    previousPage() {
      if (this.currentPage > 0) {
        this.currentPage -= 1;
        this.$emit('current-page', this.currentPage);
      }
    },

    nextPage() {
      if (this.currentPage < this.total) {
        this.currentPage += 1;
        this.$emit('current-page', this.currentPage);
      }
    },

    changePage(page) {
      this.currentPage = page;
      this.$emit('current-page', this.currentPage);
    },
  },
};
</script>

<template>
  <div class="pagination">
    <div class="places-pagination mb-2 mt-2">
      <div class="pagination-count">
        <BaseSvgIcon
          height="1.5rem"
          width="1.5rem"
          icon-id="icon-chevron-thin-left"
          @click="previousPage"/>
        <em>{{ currentPage }} \ {{ total }} </em>
        <BaseSvgIcon
          height="1.5rem"
          width="1.5rem"
          icon-id="icon-chevron-thin-right"
          @click="nextPage"/>
      </div>
      <ul class="pagination-index">
        <li
          v-for="page in total"
          :key="page"
          :class="{active: currentPage===page }"
          class="pagination-index__number"
          @click="changePage(page)">
          {{ page }}
        </li>
      </ul>
      <span
        v-if="hasNext"
        class="pagination-index__number"
        @click="fetchNextPage"> Next</span>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';
.pagination-index {
  list-style: none;
  height: 2rem;
  margin-bottom: 0;

  @include display-flex-space-between;

  &__number {
    flex: 1;
    height: 100%;
    max-width: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    padding: 0 5px;
    border: $box-border;
    cursor: pointer;
  }
}
.pagination-count {
  width: 10rem;
  font-size: 1.4rem;
  font-weight: 600;
  @include display-flex-space-between;
}

.places-pagination {
  @include display-flex-space-between;
  max-width: 60rem;
  min-width: 30rem;
  background-color: rgba($color-grey-light-2, 0.8);
}

.active {
  background-color: $color-primary-main;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}
</style>
