<template>
  <div class="rating d-flex justify-content-start">
    <svg
      v-for="(f, index) in full"
      :key="'full_' + index"
      class="rating-start rating-start--full"
    >
      <use xlink:href="/img/sprite.svg#icon-star-empty"/>
    </svg>
    <svg
      v-for="(h, index) in half"
      :key="'half_' + index"
      class="rating-start rating-start--full"
    >
      <use xlink:href="/img/sprite.svg#icon-star-half"/>
    </svg>
    <svg
      v-for="(e, index) in empty"
      :key="'empty_' + index"
      class="rating-start flex-fill"
    >
      <use xlink:href="/img/sprite.svg#icon-star-empty"/>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'Rating',
  props: {
    rating: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    full() {
      return Math.floor(this.rating);
    },
    half() {
      return this.rating - Math.floor(this.rating) >= 0.3 ? 1 : 0;
    },
    empty() {
      return 5 - (this.full + this.half);
    },
  },
};
</script>

<style scoped lang="scss">
.rating {
  max-width: 7rem;
  height: 1.5rem;
  padding: 0.1rem 0;
}

.rating-start {
  fill: #cfcfcf;

  &--full,
  &--half {
    fill: #ffb917;
  }
}
</style>
