<script>
export default {
  name: 'Footer',
};
</script>

<template>
  <footer class="footer">
    <div class="footer__copyright"><small>&copy; 2017-2018</small></div>
    <div class="footer__resources">
      <h3>Resources</h3>
      <ul class="footer__navigation">
        <li class="footer__navigation--item">
          <BaseLink :to="{ name: 'places', params: [] }">Business</BaseLink>
        </li>
        <li>
          <BaseLink :to="{ name: 'places', params: [] }"> Business </BaseLink>
        </li>
      </ul>
    </div>
    <div class="footer__about">
      <h3>About</h3>
      <ul class="footer__navigation">
        <li>
          <BaseLink :to="{ name: 'places', params: [] }">Business</BaseLink>
        </li>
        <li>
          <BaseLink :to="{ name: 'places', params: [] }">Business</BaseLink>
        </li>
      </ul>
    </div>
  </footer>
</template>

<style scoped lang="scss">
@import '../assets/sass/main';
.footer {
  position: absolute;
  bottom: 0;
  height: 20rem; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
  background-color: rgba($color-primary-main, 1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: $color-white;

  &__copyright {
    flex: 0 0 20%;
    padding: 0 1rem;
  }

  &__resources {
    flex: 0 0 30%;
  }

  &__about {
    flex: 0 0 30%;
  }

  &__navigation {
    list-style: none;

    &--item {
      color: $color-white;
    }
  }
}
</style>
