<script>
import TheFooter from '@/components/TheFooter.vue';
import TheHeader from '@/components/Navigation/TheHeader.vue';
export default {
  name: 'TheLayoutWrapper',

  components: {
    TheFooter,
    TheHeader,
  },
};
</script>
<template>
  <div class="app">
    <slot />
    <b-container fluid> 
      <b-row>
        <b-col 
          cols="12" 
          md="8"
          offset-md="2"
          lg="6"
          offset-lg="3" >
          <nuxt />
        </b-col>
      </b-row>
    </b-container>
   
    <TheFooter/>
  </div>
</template>

<style lang="scss">
@import 'assets/sass/main';
html {
  font-size: 62.5%;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  position: relative;
  padding-bottom: 20rem;
  min-height: 100vh;
  margin: 0 0.6rem;
  background-color: $container-background;
  @include respond(tab-port) {
    margin: 0;
    width: 100vw;
  }
}
.wrapper {
  min-height: calc(100vh - 26rem);
  width: 1020px;
  margin: auto;

  @include respond(phone) {
    width: 100vw;
  }

  @include respond(tab-port) {
    width: 100vw;
  }

  @include respond(tab-land) {
    width: 90vw;
  }
}
</style>
