<script>
import Pagination from '@/components/Pagination.vue';
import EventList from '@/components/EventList.vue';
import { eventGetters } from '@/utils/helpers';
import FilterBox from '@/components/FilterBox.vue';
import PlaceFilter from '@/components/Places/PlaceFilter';
import EventListHeader from '@/components/Events/EventListHeader.vue';

export default {
  name: 'EventsPage',

  components: {
    PlaceFilter,
    EventList,
    Pagination,
    FilterBox,
    EventListHeader,
  },
  data() {
    return {
      currentPage: 1,
    };
  },

  async fetch({ store }) {
    await store.dispatch('events/init');
  },
  computed: {
    eventList() {
      return this.getEventList();
    },
    total() {
      return 2;
    },
    hasNext() {
      return this.hasNextPage();
    },
  },

  methods: {
    updatePage(num) {
      this.currentPage = num;
    },

    fetchNext() {
      console.log('fetching next page');
    },

    navigateToResaurants() {
      this.$router.push({
        path: '/events/categories',
        query: { category: 'Restaurants' },
      });
    },
    ...eventGetters,
  },
};
</script>

<template>
  <div>
    <EventListHeader/>
    <b-container fluid>
      <b-row class="mt-1 mb-1">
        <b-col 
          cols="9" >
          <div class="event-spotlight"> 
            <span class="event-spotlight__img"> 
              <img 
                src="/ge/" 
                alt="SPOTLIGHT">
            </span>
            <span class="event-spotlight__description"> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eius perferendis veritatis ea nobis dolorem tenetur. Perspiciatis,
              corporis assumenda! Architecto tenetur 
              quod accusantium nulla, alias corporis optio fugiat voluptates earum ab.
              </p>
            </span>
          </div>
        </b-col>
        <b-col class="event-categories">
          <h3 class="event-categories__header">Browse By categories</h3>
          <ul class="event-categories__list">
            <li 
              class="event-categories__item" 
              @click="navigateToResaurants">
              <BaseSvgIcon 
                :icon-id="'icon-spoon-knife'"
                :fill="'#009688'"
                height="1.5rem"
                withd="2rem"/> Restaurants & Food
            </li>
            <li class="event-categories__item">
              <BaseSvgIcon 
                :icon-id="'icon-drink'"
                :fill="'#009688'"
                height="1.5rem"
                withd="2rem"/> Drinks
            </li>
            <li class="event-categories__item">
              <BaseSvgIcon 
                :icon-id="'icon-chat'"
                :fill="'#009688'"
                height="1.5rem"
                withd="2rem"/> Meet People
            </li>
            <li class="event-categories__item">
              <BaseSvgIcon 
                :icon-id="'icon-man-woman'"
                :fill="'#009688'"
                height="1.5rem"
                withd="2rem"/> Dating
            </li>
          </ul>
        </b-col>
      </b-row>
    </b-container>
    
    <EventList :list-events="eventList"/>
    <Pagination
      :count="total"
      :has-next="hasNext"
      :fetch-next-page="fetchNext"
      @current-page="updatePage($event)"/>
  
  </div>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';
.event-spotlight {
  height: 30rem;
  width: 98%;
  margin-right: 2%;
  border: $box-border;
  border-radius: 5px;
  display: flex;

  &__img {
    flex: 0 0 50%;
    border-right: $box-border;
  }
  &__description {
    flex: 1;
    padding: 5px;
    font-size: 1.4rem;
  }
}

.event-categories {
  border: $box-border;
  border-radius: 5px;
  padding: 5px 10px;

  &_header {
    font-size: 1.6rem;
    font-weight: 800;
    padding: 4px 8px 8px;
  }
  &__list {
    list-style: none;
  }

  &__item {
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    color: $color-primary-main;
    cursor: pointer;
  }
}

.active {
  background-color: $color-primary-main;
}
</style>
