<script>
export default {
  name: 'HeaderLayout',
};
</script>

<template>
  <header class="header-layout">
    <slot/>
  </header>
</template>

<style scoped>
.header-layout {
  height: 6rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
</style>
