<script>
import HeaderLayout from '@/components/Navigation/HeaderLayout.vue';

export default {
  name: 'TheAuthHeader',

  components: {
    HeaderLayout,
  },
};
</script>

<template>
  <HeaderLayout>
    <div class="brand">
      <nuxt-link
        class="link"
        to="/"> WEOUT</nuxt-link>
    </div>
  </HeaderLayout>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';
.brand {
  display: flex;

  .link {
    color: $color-primary-main;
    font-size: 4rem;
    font-weight: 700;
    padding: 1rem 2rem;
    margin: auto;
  }
}
</style>
