<script>
import HeaderLayout from '@/components/Navigation/HeaderLayout.vue';
export default {
  name: 'TheHeader',
  components: {
    HeaderLayout,
  },
};
</script>

<template>
  <HeaderLayout>
    <div class="header">
      <div class="menu">
        <div
          class="menu-icon"
          role="button"
          @click="$emit('toggleSideBar')">
          <BaseSvgIcon
            icon-id="icon-bars"
            width="3rem"
            height="4rem"
            fill="#009688"/>
        </div>
        <div class="brand">
          <nuxt-link to="/">
            WeOut
          </nuxt-link>
        </div>
      </div>

      <div class="header__nav">
        <div class="header__nav--left">
          <ul class="header-nav__list">
            <li class="header-nav__item">
              <BaseLink
                :to="{ name: 'events' }"
                class="header-nav__link">
                Events
              </BaseLink>
            </li>
            <li class="header-nav__item">
              <BaseLink
                :to="{ name: 'places' }"
                class="header-nav__link">
                Place
              </BaseLink>
            </li>
          </ul>
        </div>
        <div class="header__nav--right">
          <ul class="header-nav__list">
            <li class="header-nav__item">
              <BaseLink
                :name="'login'"
                class="header-nav__link">
                Sign In
              </BaseLink>
            </li>
            <li class="header-nav__item">
              <BaseLink
                :name="'signup'"
                class="header-nav__link link-outline"
              >Sign Up
              </BaseLink>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </HeaderLayout>
</template>

<style scoped lang="scss">
@import '../../assets/sass/main';
.brand {
  @include brand-typography;

  @include respond(phone) {
    grid-column: 3;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
}
.menu {
  @include respond(phone) {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  &-icon {
    display: none;

    @include respond(phone) {
      @include display-flex-center;
      order: -1;
    }
  }
}

.header {
  height: inherit;
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 10fr;

  @include respond(phone) {
    display: flex;
  }
  &__nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    align-items: center;

    @include respond(phone) {
      display: none;
    }

    &--right {
      grid-column: 3;
    }
  }

  &-nav {
    z-index: 25000;

    &__list {
      list-style: none;
      display: flex;
      z-index: inherit;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }

    &__link {
      text-decoration: none;
      color: white;
      font-size: 1.6rem;
      padding: 1rem 1.5rem;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .link-outline {
    border: 1px solid #55c57a;
    border-radius: 10px;
  }
}
</style>
