<script>
export default {
  name: 'TheUserPageSideNav',

  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    authenticated() {
      return this.$store.getters['auth/getLoginStatus'];
    },
  },
};
</script>

<template>
  <transition name="slide">
    <section
      v-if="show"
      class="side-nav">
      <div
        class="back-drawer"
        @click="$emit('closeSideNav')">
        &nbsp;
      </div>

      <div
        v-if="authenticated"
        class="navbar"
        @click="$emit('closeSideNav')">
        <div class="navbar__user mb-1">
          Here goes the avatar
        </div>
        <ul class="navbar__nav">
          <li class="navbar__nav--item">
            <nuxt-link to="/users/events"> My Events</nuxt-link>
          </li>
          <li class="navbar__nav--item">
            <nuxt-link to="/users/places"> My Places</nuxt-link>
          </li>
          <li class="navbar__nav--item">Notification</li>
          <li class="navbar__nav--item">Privacy</li>
          <li class="navbar__nav--item">Other</li>
        </ul>
      </div>

      <div
        v-else
        class="navbar"
        @click="$emit('closeSideNav')">
        <ul class="navbar__nav">
          <li class="navbar__nav--item">
            <nuxt-link to="/events">Events</nuxt-link>
          </li>
          <li class="navbar__nav--item">
            <nuxt-link to="/places">Places</nuxt-link>
          </li>
          <li class="navbar__nav--item">
            <nuxt-link to="/signup">Sign Up</nuxt-link>
          </li>
          <li class="navbar__nav--item">
            <nuxt-link to="/login">Login</nuxt-link>
          </li>
        </ul>
      </div>
    </section>
  </transition>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';
.side-nav {
  height: 100vh;
  width: 100vw;
}

.back-drawer {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba($color-primary-main, 0.2);
  z-index: 1000;
}

.navbar {
  background-color: $color-primary-main;
  width: 80%;
  height: 100%;
  position: fixed;
  z-index: 10000;

  &__user {
    @include display-flex-center;
  }

  &__nav {
    list-style: none;

    &--item {
      font-size: 1.8rem;
      font-weight: 400;
      color: $color-white;
      padding: 1rem 2rem;

      &:hover {
        background-color: $color-grey-dark-2;
      }

      a {
        text-decoration: none;
        color: inherit;
        font-size: inherit;
      }
    }
  }
}

.slide-enter-active {
  transition: all 0.5s ease;
}
.slide-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
}
</style>
