<script>
import HeaderLayout from './HeaderLayout';
import BaseSvgIcon from '../UI/BaseSvgIcon';
export default {
  name: 'UserHomeHeader',

  components: { BaseSvgIcon, HeaderLayout },

  data() {
    return {
      showSearchBarMobile: false,
    };
  },

  computed: {
    avatar() {
      return this.$store.getters['user/getAvatar'];
    },
  },
  methods: {
    homePage() {
      this.$router.push('/users/profile');
    },
  },
};
</script>

<template>
  <HeaderLayout>
    <nav class="navbar">
      <div
        class="menu-icon"
        role="button"
        @click="$emit('toggleSideBar')">
        <BaseSvgIcon
          icon-id="icon-bars"
          width="3rem"
          height="4rem"
          fill="#009688"/>
      </div>
      <div class="navbar__brand">
        <nuxt-link to="/"> WeOut</nuxt-link>
      </div>
      <div class="header-left">
        <div
          class="search-button-mobile"
          @click="showSearchBarMobile = !showSearchBarMobile">
          <BaseSvgIcon
            icon-id="icon-magnifying-glass"
            height="4rem"
            width="4rem"
            fill="#009688"/>
        </div>
        <div
          class="navbar__search">
          <input
            type="text"
            class="search__text">
          <BaseSvgIcon icon-id="icon-magnifying-glass"/>
        </div>
      </div>
      <div class="header-right">
        <ul class="navbar__links">
          <li class="navbar__links--item">
            <nuxt-link to="/users/events"> My Events</nuxt-link>
          </li>
          <li class="navbar__links--item">
            <nuxt-link to="/users/places"> My places</nuxt-link>
          </li>
        </ul>

        <div class="navbar__notification">
          <svg class="notification__icon">
            <use xlink:href="/img/sprite.svg#icon-bookmark-o"/>
          </svg>
        </div>
        <div 
          class="navbar__avatar" 
          @click="homePage">
          <img
            :src="avatar"
            class="user-photo"
            alt="KY">
        </div>
      </div>
    </nav>
    <div
      :class="{'search-toggle': showSearchBarMobile}"
      class="search-mobile">
      <input
        type="text"
        class="search__text">
      <BaseSvgIcon
        :style="{backgroundColor: '#F7F7F7'}"
        icon-id="icon-magnifying-glass"/>
    </div>
  </HeaderLayout>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';

.menu-icon {
  display: none;

  @include respond(phone) {
    @include display-flex-space-between;
    order: 1;
  }
}
.search {
  &-mobile {
    display: none;

    @include respond(phone) {
      order: 2;
    }
  }

  &-toggle {
    display: none;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;

    @include respond(phone) {
      @include display-flex-center;
      position: relative;
      z-index: 900;
    }
  }
}
.search-button-mobile {
  display: none;

  @include respond(phone) {
    @include display-flex-center;
  }
}
.search__text {
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 10px;
  background-color: $color-grey-light-1;
  display: inherit;
  width: 95%;
  transition: all 0.2s;
  margin-right: -2.75rem;

  &:focus {
    outline: none;
    width: 100%;
  }

  &::placeholder {
    text-align: center;
    font-size: 1.6rem;
  }
}

.search__icon {
  width: 2.5rem;
  height: 2.5rem;
}

.navbar {
  @include display-flex-space-between;
  height: inherit;
  width: 90%;
  margin: auto;

  &__brand {
    @include brand-typography;
  }

  &__search {
    @include display-flex-center;
    width: 100%;

    @include respond(phone) {
      display: none !important;
    }
  }

  &__links {
    @include display-flex-center;
    list-style: none;
    flex: 0 0 60%;

    &--item {
      flex: 0 0 48%;
      font-size: 1.6rem;
      font-weight: 400;
      color: $color-white;
    }
  }

  &__notification {
    @include display-flex-center;
    width: 3rem;
    height: 3rem;

    .notification__icon {
      height: inherit;
      width: inherit;
    }
  }

  &__avatar {
    height: 100%;
    cursor: pointer;
    .user-name {
      color: white;
      font-size: 14px;
      font-weight: 500;

      &::first-letter {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
      }
    }
    .user-photo {
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;
      margin: auto;
    }
  }

  .header-left {
    flex: 0 0 40%;

    @include respond(phone) {
      display: block;
      order: 2;
    }
  }

  .header-right {
    @include display-flex-space-between;
    flex: 0 0 25%;

    @include respond(phone) {
      display: none;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
</style>
