<template>
  <div class="chat-messages">
    <div class="chat-messages__header"> Header</div>
    <div class="chat-messages__contain"> Messages</div>
    <div class="chat-messages__footer">footer</div>
  </div>
</template>

<script>
export default {
  name: 'ChatMessage',
};
</script>

<style scoped lang="scss">
.chat-messages {
  height: 100%;

  &__header {
    height: 6%;
    width: 100%;
  }
  &__contain {
    width: 100%;
    height: 84%;
    background-color: aqua;
  }
  &__footer {
    height: 10%;
    width: 100%;
  }
}
</style>
