<template>
  <li class="message-wrapper">
    <div class="message-thumbnail"> 
      <b-img 
        v-bind="imgProps"
        :src="require('../../static/icon.png')"
      />
    </div>
    <div class="message-box">
      <div class="message-header">
        <div class="chat-name">Name</div>
        <div class="message-time">17:00</div>
      </div>
      <div class="message-text">Text</div>
    </div>
  </li>
</template>

<script>
export default {
  name: 'Message',
  data() {
    return {
      imgProps: {
        blank: false,
        blankColor: '#777',
        center: true,
        height: 58,
        with: 58,
        rounded: 'circle',
      },
    };
  },
};
</script>

<style scoped lang="scss">
@import '~assets/sass/main';
.message-wrapper {
  height: 7rem;
  padding: 0.6rem 0.3rem;
  display: flex;
  justify-content: space-between;
  justify-items: center;

  &:not(:last-child) {
    margin-bottom: 0.7rem;
  }
}

.message {
  &-header {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    justify-items: center;
  }

  .chat-name {
    &::first-letter {
      text-transform: uppercase;
    }
    font-weight: 700;

    flex: 0 0 68%;
  }

  &-time {
    flex: 0 0 20%;
  }

  &-thumbnail {
    flex: 0 0 35%;
    align-self: center;
    padding: 0.3rem;
    max-height: inherit;
  }

  &-text {
    font-size: 1.2rem;
    color: grey;
  }

  &-box {
    flex: 0 0 72%;

    &:not(:last-of-type) {
      margin-bottom: 0.2rem;
      border-bottom: 4px solid green;
    }
  }
}
.thumbnail {
  height: 50%;
  width: 50%;
  margin: auto;
}
</style>
