<script>
import BaseSvgIcon from './BaseSvgIcon';
import { Event } from '@/models/event';
export default {
  name: 'BaseEventCard',
  components: { BaseSvgIcon },
  props: {
    event: {
      type: Event,
      required: true,
    },
  },

  methods: {
    async showDetails() {
      await this.$store.dispatch('events/fetchSelectedEvent', this.event.id);
      this.$router.push({
        name: 'events-id',
        params: { id: this.event.slug },
      });
    },

    bookmark() {
      const path = '/events/' + this.event.id + '/bookmark';
      this.$axios
        .$post(path, {})
        .then(response => {})
        .catch(err => {
          console.log(err.response);
        });
    },
  },
};
</script>

<template>
  <div
    class="event"
    @click="showDetails">
    <img
      :src="event.thumbnail"
      class="event__img"
      ALT="Event Image"
    >
    <div
      class="bookmark"
      @click="bookmark">
      <BaseSvgIcon
        :fill="'#FF0000'"
        icon-id="icon-bookmark"/>
    </div>
    <div class="event__detail">
      <h5 class="event__name">{{ event.name }}</h5>
      <div class="event__address">
        <BaseSvgIcon
          :icon-id="'icon-stopwatch'"
          :fill="'#55C57A'"/>
        <li>{{ event.time | date }}</li>
      </div>
      <div class="event__address">
        <BaseSvgIcon
          :icon-id="'icon-location-pin'"
          :fill="'#55C57A'"/>
        <li>
          {{ event.location.address }}
        </li>
      </div>
      <div
        v-if="event.contact"
        class="event__contact">
        <BaseSvgIcon
          :fill="'#55C57A'"
          :icon-id="'icon-phone'"/>
        <li>{{ event.scope }}</li>
      </div>
      <div class="event__description">
        <p class="event__text">
          {{ event.description }}
        </p>
      </div>
    </div>
    <!--<div class="u-text-center button">-->
    <!--<BaseButton> PARTICIPATE</BaseButton>-->
    <!--</div>-->
  </div>
</template>

<style scoped lang="scss">
@import '../../assets/sass/main';

.event {
  min-height: 45rem;
  max-width: 30rem;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
  position: relative;
  transition: all 0.2s;
  margin-bottom: 2rem;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &__img {
    height: 20rem;
    width: 100%;
  }

  &__detail {
    height: auto;
  }

  &__name {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-weight: 700;
  }

  &__description {
    font-size: 1.6rem;
    padding: 1rem 2rem;
  }

  &__contact,
  &__address {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    width: 100%;
    list-style: none;
    font-size: 1.6rem;
    padding: 0 2rem;
  }

  .button {
    position: absolute;
    bottom: 0.3rem;
  }
  &__icon {
    color: $color-primary;
    font-size: 2.5rem;
    flex: 0 0 15%;
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.6rem; /* fallback */
    max-height: 6rem; /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
.bookmark {
  position: absolute;
  top: 0.8rem;
  right: 0.5rem;
  z-index: 2;
  transition: transform 300ms ease-out;

  &:hover {
    transform: scale(1.1);
  }
}
</style>
