<script>
export default {
  name: 'BaseSvgIcon',

  props: {
    iconId: {
      type: String,
      required: true,
    },
    width: {
      type: String,
      default: '2rem',
    },
    height: {
      type: String,
      default: '2rem',
    },
    fill: {
      type: String,
      default: 'currentColor',
    },
    styleProps: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    iconPath() {
      return '/img/sprite.svg#' + this.iconId;
    },
    style() {
      return {
        ...this.styleProps,
        fill: this.fill,
        height: this.height,
        width: this.width,
      };
    },
    listeners() {
      return {
        ...this.$listeners,
      };
    },
  },
};
</script>

<template>
  <svg
    :style="style"
    class="base-icon"
    v-on="listeners">
    <use :xlink:href="iconPath"/>
  </svg>
</template>

<style scoped lang="scss">
.base-icon {
  background-color: inherit;
  border: none;
  outline: none;
  margin-right: 1rem;
  position: relative;

  .background {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    width: 98%;
    height: 98%;
  }
}
</style>
