<script>
export default {
  name: 'BaseButton',
  props: {
    animate: {
      type: Boolean,
      default: true,
    },
    isDisable: {
      type: Boolean,
      default: true,
    },
  },
};
</script>

<template>
  <button
    :class="{ 'button:hover': animate, 'disable': isDisable}"
    :disabled="isDisable"
    v-bind="$attrs"
    class="button"
    v-on="$listeners"
  >
    <slot />
  </button>
</template>

<style scoped lang="scss">
.button {
  padding: 1rem 4rem;
  border: none;
  outline: none;
  border-radius: 10rem;
  background-color: #009688;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  transition: all 0.3s;
  margin: auto;
  display: block;
  min-width: 70%;

  &:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
}

.disable {
  background-color: rgba(0, 150, 136, 0.1) !important;
}
</style>
