<script>
export default {
  name: 'BaseInput',

  props: {
    type: {
      type: String,
      default: 'text',
    },
    value: {
      type: [String, Number],
      default: '',
    },
    name: {
      type: String,
      default: 'input',
    },
    id: {
      type: String,
      default: 'email',
    },
    placeHolder: {
      type: String,
      default: '',
    },
    labelColor: {
      type: String,
      default: 'inherited',
    },
  },

  computed: {
    listeners() {
      return {
        ...this.$listeners,
        input: event => this.$emit('input', event.target.value),
      };
    },
  },
};
</script>

<template>
  <div class="form__group">
    <input
      :placeholder="placeHolder"
      :id="id"
      :type="type"
      :value="value"
      :name="name"
      v-bind="$attrs"
      class="form__input"
      v-on="listeners"
    >
    <label
      :for="id"
      :style="{color: labelColor}"
      class="form__label"> <slot /> </label>
  </div>
</template>

<style scoped lang="scss">
@import '../../assets/sass/main';

.form__group {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.form {
  &__input {
    display: block;
    width: 95%;
    height: 4rem;
    margin: auto;
    border-radius: 3px;
    border: 1px solid $color-grey-light-1;
    transition: scale 0.2s;
    background-color: rgba($color-white, 0.8);
    font-size: 1.6rem;
    text-align: center;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    :-ms-input-placeholder {
      color: $color-grey-dark-2;
      font-size: 1.4rem;
      text-align: center;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.9rem;
    text-align: center;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2rem);
  }
}
</style>
