<script>
export default {
  name: 'BaseLink',

  props: {
    href: {
      type: String,
      default: null,
    },
    allowInsecure: {
      type: Boolean,
      default: false,
    },
    name: {
      type: String,
      default: '',
    },
    param: {
      type: Object,
      default: () => {},
    },
    to: {
      type: Object,
      default: null,
    },
  },

  computed: {
    routerLinkTo({ name, params }) {
      return {
        name,
        params,
        ...(this.to || {}),
      };
    },
  },
  created() {
    this.validateProps();
  },

  methods: {
    validateProps() {
      if (process.env.NODE_ENV === 'production') {
        return;
      }

      if (this.href) {
        if (!/^\w + :/.test(this.href)) {
          console.warn(
            `Invalid href <BaseLink> ${this.href}. \n
            If you are tying to navigate to a local Url provide at least
            name or to`,
          );
        }

        if (this.allowInsecure && !/^https/.test(this.href)) {
          console.warn(
            `Insecure <BaseLink> ${this.href}.\n
                When linking to external site always prefer https`,
          );
        }
      } else {
        if (!this.name && !this.to) {
          return console.warn(
            `Invalid <BaseLink> props:\n\n${JSON.stringify(
              this.$props,
              null,
              2,
            )}\n\nEither a \`name\` or \`to\` is required for internal links, or an \`href\` for external links.`,
          );
        }
      }
    },
  },
};
</script>

<template>
  <a
    v-if="href"
    :href="href"
    v-bind="$attrs"
    class="link"
    target="_blank">
    <slot />
  </a>
  <nuxt-link
    v-else
    :to="routerLinkTo"
    v-bind="$attrs"
    class="link">
    <slot />
  </nuxt-link>
</template>

<style scoped lang="scss">
.link {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &:first-letter {
    text-transform: uppercase;
  }
}
</style>
