<script>
export default {
  name: 'PlaceSearchItem',
  props: {
    place: {
      type: Object,
      required: true,
      validator: function(place) {
        return place.id && place.name;
      },
    },
  },
};
</script>

<template>
  <div 
    class="place" 
    @click="$emit('selected-place', place)">
    <h3 class="place__name"> {{ place.name }} </h3>
    <div class="location">
      <BaseSvgIcon
        :icon-id="'icon-location-pin'"
        :fill="'#55C57A'"/>
      <ul class="place__address">
        <li class="place__address--item">{{ place.street }}</li>
        <li class="place__address--item">{{ place.city }}</li>
        <li class="place__address--item">{{ place.country }}</li>
      </ul>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';
.place {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  height: 5rem;
  border: 1px solid gray;
  border-radius: 5px;

  &:not(:last-child) {
    margin-bottom: 3px;
  }

  &__address {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--item {
      font-size: 1.2rem;
      font-weight: 500;
      color: black;
    }
  }

  &__name {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3px;
  }
}

.location {
  display: flex;
  width: 100%;
}
</style>
