<script>
import PlaceSearchItem from './PlaceSearchItem';
export default {
  name: 'PlaceSearchItemList',
  components: { PlaceSearchItem },
  props: {
    places: {
      type: Array,
      default: function() {
        return [];
      },
    },
  },
};
</script>

<template>
  <div class="place-search-list">
    <PlaceSearchItem
      v-for="(place, index) in places"
      :place="place"
      :key="index + '_'+ place.name"
      @selected-place="$emit('selected',$event)"/>
  </div>

</template>

<style scoped lang="scss">
@import '~assets/sass/main';
.place-search-list {
  max-height: 30rem;
  overflow-y: scroll;
  position: absolute;
  top: 6rem;
  left: 1.2rem;
  z-index: 10;
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  margin-top: -1.8rem;
  background-color: rgb(255, 255, 255);

  @include custom-scrollbar;
}
</style>
