<script>
import PlaceSearchItemList from './PlaceSearchItemList';
export default {
  name: 'PlaceSearch',
  components: {
    PlaceSearchItemList,
  },
  props: {
    placeHolder: {
      type: String,
      default: 'Place',
    },
    label: {
      type: String,
      default: 'Place',
    },
  },
  data() {
    return {
      searchKey: '',
      placesList: [],
      selectedPlace: null,
    };
  },
  computed: {
    places() {
      return this.placesList.slice();
    },
  },
  watch: {
    searchKey(newValue) {
      if (newValue.length === 0) {
        this.placesList = [];
      } else {
        this.fetchPlaces(newValue);
      }
    },
  },
  methods: {
    fetchPlaces(query) {
      this.$axios
        .$get(`/places?search=${query}`)
        .then(response => {
          this.placesList = response.results;
        })
        .catch(err => console.log(err));
    },
    addSelectedPlace(place) {
      this.$emit('place-selected', place);
      this.placesList = [];
    },
  },
};
</script>

<template>
  <div class="place-search">
    <BaseInput
      id="search"
      v-model="searchKey"
      :place-holder="placeHolder"
      type="text">
      {{ label }}
    </BaseInput>
    <PlaceSearchItemList 
      v-if="places.length > 0" 
      :places="places"
      @selected="addSelectedPlace($event)"/>
  </div>
</template>

<style scoped>
.place-search {
  position: relative;
  width: 100%;
}
</style>
