<script>
import EventList from '../../components/EventList';
export default {
  name: 'UserEvent',
  components: { EventList },
  data() {
    return {
      type: 'created',
    };
  },
  fetch({ store }) {
    store.dispatch('user/fetchCreatedEvent');
  },
  computed: {
    events() {
      if (this.type === 'created') {
        return this.$store.getters['user/getCreatedEvents'];
      }
      return this.$store.getters['user/getBookmarksEvents'];
    },
  },
};
</script>

<template>
  <div class="user-page">
    <div class="header">
      <div class="header__title"> My Events</div>
      <div class="header__filter">
        <ul class="filter__list">
          <li
            class="filter__list--item"
            @click="type = 'created'">Created</li>
          <li
            class="filter__list--item"
            @click="type = 'bookmark'">Attend</li>
          <li
            class="filter__list--item"
            @click="type = 'bookmark'">UpComing</li>
        </ul>
      </div>
    </div>
    <div class="main-section">
      <div
        v-if="!events"
        class="pt-3 u-text-center">
        <h1> You Don't have any event in you list for now.</h1>
      </div>
      <div
        v-else
        class="event-list">
        <EventList :list-events="events"/>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';
.user-page {
  min-height: calc(100vh - 28rem);
  width: 100%;
}

.header {
  height: 12rem;
  background-color: $color-grey-light-2;

  &__title {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: $color-primary-main;
    padding: 1rem 2rem;
  }

  &__filter {
    margin: auto;
  }
}

.main-section {
  width: 50%;
  margin: auto;
}

.filter__list {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  &--item {
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
    font-weight: 400;

    &:hover {
      border-bottom: 5px $color-primary-main;
      background-color: $color-grey-dark-2;
      transform: translateY(-0.2rem);
    }
  }
}
</style>
