<script>
export default {
  name: 'Profile',

  computed: {
    user() {
      return this.$store.getters['user/getUser'];
    },

    avatar() {
      return this.$store.getters['user/getAvatar'];
    },
    initials() {
      return this.user.username;
    },
  },
};
</script>

<template>
  <div class="main-container">
    <header class="header">
      <p class="header__title"> The header title</p>
      <p class="header__description"> The header description</p>
    </header>
    <div class="w-container">
      <aside class="side">
        <div class="navigation-header">
          <div class="avatar-box">
            <img 
              :alt="initials" 
              :src="avatar" 
              class="user-avatar">
          </div>
          <h2 class="display-name">{{ user.username + " " + user.firstName }}</h2>
        </div>
        <ul class="navigation">
          <li class="navigation__item"> 
            <nuxt-link to="/users/profile">Profile</nuxt-link>
          </li>
          <li class="navigation__item">
            <nuxt-link to="/users/profile/photo">Photo</nuxt-link>
          </li>
          <li class="navigation__item"> 
            <nuxt-link to="/users/profile/account">Account</nuxt-link>
          </li>
          <li class="navigation__item">
            <nuxt-link to="/">Credit Card</nuxt-link>
          </li>
          <li class="navigation__item">
            <nuxt-link to="/">Notification</nuxt-link>
          </li>
          <li class="navigation__item"> 
            <nuxt-link to="/">Delete Account</nuxt-link>
          </li>
        </ul>
      </aside>
      <main class="main"> <nuxt-child/></main>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';

.main-container {
  width: 60%;
  height: 97%;
  margin: 1.5% auto;
  display: grid;
  grid-template-rows: [header] 1fr [main] 6fr;

  @include respond(phone) {
    width: 100%;
  }
}

.header {
  grid-row: header;
  background-color: $color-grey-light-2;
  text-align: center;

  &__title {
    font-size: 1.8rem;
    color: black;
  }

  &__description {
    font-size: 1.4rem;
    color: rgba($color-black, 0.8);
  }
}

.w-container {
  grid-row: main;
  display: grid;
  grid-template-columns: [aside] 1fr [center] 4fr;

  @include respond(phone) {
    grid-template-columns: [aside] 1fr [center] 3fr;
  }
}

.side {
  grid-column: aside;

  .navigation {
    list-style: none;

    &-header {
      height: 19rem;
      width: 100%;
      padding: 10px;
      .avatar-box {
        margin: auto;
        max-width: 12rem;
      }

      .user-avatar {
        height: 12rem;
        border-radius: 50%;
        object-fit: cover;
        margin: auto;
      }

      .display-name {
        font-size: 1.2rem;
        font-weight: 500;
        padding: 10px 0 5px;
        text-align: center;

        &::first-letter {
          text-transform: uppercase;
          font-size: 1.4rem;
          font-weight: 600;
          color: $color-primary-main;
        }
      }
    }

    &__item::after {
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: black;
      border-bottom: 4px solid $color-primary-main;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s, border-bottom-color 0.1s;
    }

    &__item {
      position: relative;
      padding: 1rem 2rem;
      font-size: 1.8rem;
      color: $color-primary-main;
      cursor: pointer;
      text-align: left;
      z-index: 10;
      &:hover {
        color: white;
      }
      &:hover::after,
      &:active::after {
        width: 100%;
        transform: scaleY(1);
      }

      a {
        position: relative;
        z-index: 20;
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.main {
  grid-column: center;
  background-color: $color-grey-dark-3;
  text-align: center;
}
</style>
