<script>
import { required } from 'vuelidate/lib/validators';
import { eventGetters } from '../../../utils/helpers';
import axios from '../../../utils/axios-config';
import PlaceSearch from '../../../components/Places/search/PlaceSearch';
import PlaceSearchItem from '../../../components/Places/search/PlaceSearchItem';

export default {
  name: 'CreateEvent',
  components: { PlaceSearch, PlaceSearchItem },
  layout: 'UsersPageLayout',

  data() {
    return {
      name: '',
      date: '',
      time: '',
      scope: 'private',
      description: '',
      periodicity: '',
      categories: [],
      images: [],
      imageUrls: [],
      place: null,
    };
  },

  async fetch({ store }) {
    await store.dispatch('events/fetchCategories');
  },

  computed: {
    imageToUpload() {
      return this.images.slice();
    },

    eventCategoriesList() {
      return this.getCategoriesList().map(category => category.name);
    },

    minDate() {
      const now = Date.now();
      const tomorow = now + 24 * 60 * 60 * 1000;
      const t = new Date(tomorow);
      return t.toISOString().slice(0, 10);
    },
  },

  methods: {
    addPlace(place) {
      this.place = place;
    },
    async createEvent() {
      try {
        const uploadParams = await this.getUploadParam(this.images);
        const imageUrl = uploadParams.map((p, i) => {
          return { link: p.params.url, primary: i === 0 };
        });
        let eventCatgories = this.categories.map((c, i) => {
          return { name: c, primary: i === 0 };
        });

        const data = {
          name: this.name,
          categories: eventCatgories,
          description: this.description,
          time: this.date + 'T' + this.time,
          city: this.city,
          images: imageUrl,
          place_id: this.place.id,
          place: this.place,
          is_organizer: true,
          is_free: true,
          is_periodical: false,
        };
        const response = await this.$axios.$post('/events/', data);
        await uploadParams.forEach(async value => {
          try {
            await this.uploadToAWS(value.params, value.file);
          } catch (e) {
            console.log('AWS error', e);
          }
        });

        this.$router.push('/users/events');
      } catch (error) {
        console.log(error.response);
      }
    },

    addCategory(event) {
      const category = event.target.value;
      if (this.categories.includes(category) || this.categories.length >= 5) {
        return;
      }
      let primary = false;

      this.categories.push(category);
    },

    removeCategory(index) {
      this.categories.splice(index, 1);
    },

    addSelectedFile(event) {
      const file = event.target.files[0];
      this.images.push(file);
    },

    getUploadParam(files) {
      const uploadParams = files.map(async file => {
        const data = {
          file_name: file.name,
          file_size: file.size,
          file_type: file.type,
          dest: 'event_images',
        };
        try {
          const param = await this.$axios.$post('/core/s3-upload-params', data);
          return { params: param, file: file };
        } catch (err) {
          console.log(err);
        }
      });

      return Promise.all(uploadParams);
    },

    uploadToAWS(params, file) {
      const { host, ...p } = params;

      axios
        .put(params.url, file, {
          headers: {
            ...p,
            Host: host,
            'Content-type': p['content-type'],
          },
        })
        .then(response => {
          console.log(response);
          if (response.status === 200) {
            this.images.push(response.config.url);
          }
        })
        .catch(err => console.log('AWS ERROR', err));
    },

    removeFile(name) {
      const index = this.images.findIndex(image => image.name === name);
      this.images.splice(index, 1);
    },

    ...eventGetters,
  },

  validations: {
    name: {
      required,
    },
    time: {
      required,
    },
    date: {
      required,
    },
    description: {
      required,
    },
  },
};
</script>

<template>
  <div class="event-create">
    <div class="u-text-center">
      <h1 class="heading-secondary">Create a new Event</h1>
    </div>
    <div class="form">
      <form 
        class="create-event pb-2" 
        @submit.prevent="createEvent">
        <div class="tab">
          <BaseInput
            v-model="name"
            :type="'text'"
            :id="'title'"
            :place-holder="'Title'"
            @blur="$v.name.$touch()"
          >Title</BaseInput>
          <div class="form__group datetime">
            <span class="date">
              <BaseInput
                v-model="date"
                :type="'date'"
                :id="'date'"
                :min="minDate"
                :place-holder="'Date'"
                @blur="$v.date.$touch()"
              >Date</BaseInput>
            </span>
            <span class="time">
              <BaseInput
                v-model="time"
                :type="'time'"
                :id="'time'"
                :place-holder="'Time'"
                @blur="$v.time.$touch()"
              >Time</BaseInput>
            </span>

          </div>
         
          <div class="form__group">
            <div 
              v-if="place" 
              class="selected-place">
              <PlaceSearchItem :place="place" />
              <div class="icon-close">
                <BaseSvgIcon 
                  :fill="'currentColor'" 
                  :icon-id="'icon-close'" 
                  @click="place=null" />
              </div>
            </div>
            <PlaceSearch 
              v-else 
              @place-selected="addPlace($event)" />
          </div>
          <div class="form__group">
            <div class="categories">
              <ul class="categories__list">
                <li 
                  v-for="(category, index) in categories" 
                  :key="index" 
                  class="category">
                  <span class="category-name">{{ category }}</span>
                  <BaseSvgIcon
                    icon-id="icon-key"
                    height="1rem"
                    width="1rem"
                    @click="removeCategory(index)"
                  />
                </li>
              </ul>
              <select 
                id="categories" 
                class="input-select" 
                name="categories" 
                @change="addCategory">
                <option
                  v-for="(element, index) in eventCategoriesList"
                  :name="element"
                  :value="element"
                  :key="index"
                >{{ element }}</option>
              </select>
            </div>
            <label for="categories">Categories</label>
          </div>
          <div class="form__group">
            <textarea
              id="desc"
              v-model="description"
              class="event__description"
              rows="4"
              @blur="$v.description.$touch()"
            >
              description
            </textarea>
            <label for="desc">Description</label>
          </div>
        </div>
        <div class="tab mt-2">
          <div 
            v-for="(image, index) in imageToUpload" 
            :key="index" 
            class="selected-file">
            <span class="selected-file__name">{{ image.name }}</span>
            <BaseSvgIcon
              :fill="'currentColor'"
              :icon-id="'icon-trash-o'"
              @click="removeFile(image.name)"
            />
          </div>
          <BaseInput
            :type="'file'"
            :id="'file'"
            :place-holder="'upload a file'"
            @change="addSelectedFile"
          >Upload a file</BaseInput>
        </div>
        <div class="form__group scope mb-2">
          <div class="scope__item">
            <input
              id="private"
              v-model="scope"
              type="radio"
              value="private"
              class="radio-input"
              checked
            >
            <label 
              class="radio__button" 
              for="private">
              <span class="radio__button--checked" />
              <strong class="radio__label">Private</strong>
            </label>
          </div>
          <div class="scope__item">
            <input
              id="public"
              v-model="scope"
              value="public"
              type="radio"
              name="scope"
              class="radio-input"
            >
            <label 
              class="radio__button" 
              for="public">
              <span class="radio__button--checked" />
              <strong class="radio__label">Public</strong>
            </label>
          </div>
        </div>
        <BaseButton 
          :is-disable="$v.$invalid" 
          type="submit">Create</BaseButton>
      </form>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';
.selected-place {
  display: flex;
  align-items: center;

  .icon-place {
    margin-left: -1rem;
    color: #009688;
  }
}
.event-create {
  padding-top: 6rem;
  background: $color-grey-light-2;
  min-height: calc(100vh - 28rem);
}

.form {
  width: 50rem;
  margin: auto;
}

.address,
.datetime {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    flex: 0 0 48%;
  }

  .date {
    flex: 0 0 68%;
  }

  .time {
    flex: 0 0 30%;
  }
}

.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;
  height: 4rem;
  margin: 0 1.5rem;

  &__list {
    list-style: none;
    display: flex;
    height: 95%;

    .category {
      font-size: 1.4rem;
      font-weight: 500;
      border: $container-border;
      border-radius: 10px;
      background-color: $color-grey-dark-2;
      display: flex;
      align-items: center;

      &-name {
        padding: 0.3rem 0.5rem;
        color: $color-primary-main;
      }
    }
  }

  .input-select {
    height: 90%;
    width: auto;
    background-color: inherit;
    border: none;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    -webkit-appearance: menulist-text;

    select {
      text-align: center;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

.event {
  &__description {
    font-size: 1.4rem;
    width: 95%;
    margin: 0 1.4rem;
    border: none;
  }
}

.selected-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 1rem 1rem;
  border-bottom: 1px solid;

  &__name {
    font-size: 1.4rem;
  }
}

.tab {
  display: block;
  width: 100%;
}

.radio__button {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border: 5px solid $color-primary-main;
  border-radius: 50%;
  position: relative;
  transition: all 0.1s;

  &--checked {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}

.radio-input {
  display: none;
}

.radio__label {
  position: absolute;
  top: 0;
  left: 4rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.4rem;
}

.scope {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__item {
    display: flex;
    justify-content: space-between;
  }
}

.radio-input:checked + .radio__button > .radio__button--checked {
  opacity: 1;
}

.form__group {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

label {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0.8rem;
  margin-bottom: 0 !important;
  width: 100%;
}
</style>
