<script>
import TheLayoutWrapper from '@/components/TheLayoutWrapper.vue';
import TheAuthHeader from '@/components/Navigation/TheAuthHeader.vue';

export default {
  name: 'AuthLayout',

  components: {
    TheLayoutWrapper,
    TheAuthHeader,
  },
};
</script>

<template>
  <TheLayoutWrapper>
    <TheAuthHeader/>
  </TheLayoutWrapper>
</template>
