<script>
import TheLayoutWrapper from '@/components/TheLayoutWrapper.vue';
import TheHeader from '@/components/Navigation/TheHeader.vue';
import TheUserPageSideNav from '@/components/Navigation/TheUserPageSideNav.vue';
export default {
  name: 'DefaultLayout',

  components: {
    TheUserPageSideNav,
    TheLayoutWrapper,
    TheHeader,
  },

  data() {
    return {
      showSideNave: false,
    };
  },
};
</script>
<template>
  <TheLayoutWrapper>
    <TheHeader @toggleSideBar="showSideNave = ! showSideNave"/>
    <TheUserPageSideNav
      :show="showSideNave"
      @closeSideNav="showSideNave = false"/>
  </TheLayoutWrapper>
</template>
