<script>
export default {
  name: 'Error',
};
</script>

<template>
  <div class="error-page">
    <h2 class="error-message"> We are Out for now please come back later</h2>
  </div>
</template>

<style scoped>
.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem 2rem;
}
</style>
