<script>
import TheLayoutWrapper from '@/components/TheLayoutWrapper.vue';
import UsersPageHeader from '../components/Navigation/UserPageHeader';
import TheUserPageSideNav from '@/components/Navigation/TheUserPageSideNav.vue';

export default {
  name: 'UsersPageLayout',

  middleware: 'auth',
  components: {
    UsersPageHeader,
    TheLayoutWrapper,
    TheUserPageSideNav,
  },

  data() {
    return {
      showSideNave: false,
    };
  },
};
</script>
<template>
  <TheLayoutWrapper>
    <div>
      <UsersPageHeader @toggleSideBar="showSideNave = ! showSideNave"/>
      <TheUserPageSideNav
        :show="showSideNave"
        @closeSideNav="showSideNave = false"/>
    </div>
  </TheLayoutWrapper>
</template>
