<script>
import NavItem from './NavItem';
export default {
  name: 'NavItems',
  components: { NavItem },
  data() {
    return {
      showDropdown: false,
    };
  },
};
</script>

<template>
  <b-container class="we-nav">
    <b-row >
      <NavItem
        icon-path="icon-spoon-knife"
        nav-text="Food"> Modal  </NavItem>
      <NavItem
        icon-path="icon-drink"
        nav-text="Drink"> Modal </NavItem>
      <NavItem
        icon-path="icon-man-woman"
        nav-text="Night Life"> Modal </NavItem>
      <NavItem
        icon-path="icon-man-woman"
        nav-text="Services"> Modal </NavItem>
    </b-row>
  </b-container>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';

.we-nav {
  height: 3rem;
  background-color: whitesmoke;
  width: 100%;
  border-bottom: 1px solid black;
}
</style>
