<script>
export default {
  name: 'NavItemModal',
};
</script>

<template>
  <div class="nav__item--modal">
    <slot/>
  </div>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';

.nav__item--modal {
  position: absolute;
  left: 0;
  top: 3.5rem;
  width: 25rem;
  height: 20rem;
  border: $container-border;
  z-index: 100;
  background-color: $color-grey-light-1;
  display: none;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
</style>
