<script>
import NavItemModal from './NavItemModal';
export default {
  name: 'NavItem',
  components: { NavItemModal },
  props: {
    iconPath: {
      type: String,
      required: true,
    },
    navText: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      showModal: false,
    };
  },
  methods: {
    show() {
      console.log('Showing modal for ' + this.navText);
      this.showModal = !this.showModal;
    },
  },
};
</script>

<template>
  <b-col 
    class="we-nav__item" 
    @click="show">
    <div class="we-nav__item--nav">
      <span class="we-nav__item-icon">
        <BaseSvgIcon
          :icon-id="iconPath"
          height="1.5rem"
          width="1.5rem"/>
      </span>
      <span class="we-nav__item-text"> {{ navText }}</span>
      <span class="we-nav__item-dropdown">
        <BaseSvgIcon
          height="1.5rem"
          width="1.5rem"
          icon-id="icon-chevron-down"/>
      </span>
    </div>
    <b-modal 
      v-model="showModal"
      content-class="we-nav__item--modal"
      hide-footer
      hide-header
      hide-backdrop >
      <slot/>
    </b-modal>
  </b-col>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';

.we-nav__item {
  position: relative;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  align-self: center;
  margin: auto;
  &-icon,
  &-dropdown {
    width: 2rem;
    height: 2rem;
    color: $color-black;
  }

  &-text {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
  }

  &--nav {
    width: 100%;
  }
}

.we-nav__item--modal {
  position: absolute;
  left: 0;
  top: 3.5rem;
  width: 25rem;
  height: 20rem;
  border: $container-border;
  background-color: $color-grey-light-1;
}

// .we-nav__item:hover > .we-nav__item--modal {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-gap: 2rem;
// }
</style>
