<script>
import PlacesApp from '@/components/Welcome/PlaceCategoryList.vue';
import UpComingEventsApp from '@/components/EventList.vue';
import PlaceIconList from '@/components/Welcome/Landing/PlacesIconList.vue';
import PlaceSearch from '@/components/Places/search/PlaceSearch.vue';
import {
  placesGetters,
  placesActions,
  eventGetters,
  geoGetters,
  geoActions,
} from '@/utils/helpers';
export default {
  name: 'LandingPage',

  layout: 'LandingLayout',

  components: {
    PlacesApp,
    UpComingEventsApp,
    PlaceIconList,
    PlaceSearch,
  },

  data() {
    return {
      image: 'background: url("../../assets/img/image1.jpg")',
      place: '',
      categories: '',
    };
  },

  computed: {
    eventList() {
      return this.getEventList().slice(0, 6);
    },

    socialCategories() {
      return this.getCategories().map(c => c.name);
    },
    city() {
      return this.place.split(' ')[1];
    },

    placesList() {
      return this.getCities().map(city => `${city.country} ${city.name}`);
    },
  },

  async created() {
    try {
      await this.$store.dispatch('events/init');
      // await this.$store.dispatch('auth/initToken');
      await this.fetchGeoCities();
      await this.fetchPlacesCategories();
    } catch (error) {
      console.log(error);
    }
  },

  methods: {
    navigateSignUp() {
      this.$router.push('/signup');
    },

    searchPlaces() {
      console.log('Navigating to the placeces');
      this.$router.push({
        path: '/places',
        query: {
          location__city__name: this.city,
          categories: this.categories,
        },
      });
    },

    ...placesGetters,

    ...eventGetters,

    ...geoGetters,

    ...placesActions,

    ...geoActions,
  },
};
</script>

<template>
  <div class="landing-page">
    <div class="navigation">
      <input
        id="navi-toggle"
        type="checkbox"
        class="navigation__checkbox" >

      <label
        for="navi-toggle"
        class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
      </label>

      <div class="navigation__background">&nbsp;</div>

      <nav class="navigation__nav">
        <ul class="navigation__list">
          <li class="navigation__item margin-bottom-medium">
            <nuxt-link
              to="/events"
              class="navigation__link"
            >Events</nuxt-link
            >
          </li>
          <li class="navigation__item margin-bottom-medium">
            <nuxt-link
              to="/places"
              class="navigation__link"
            >Place</nuxt-link
            >
          </li>
          <li class="navigation__item">
            <nuxt-link
              to="/login"
              class="navigation__link"
            >Login</nuxt-link
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="header">
      <div class="header__nav">
        <div class="header__nav--left">
          <ul class="header-nav__list">
            <li class="header-nav__item">
              <BaseLink
                :to="{ name: 'events' }"
                class="header-nav__link">
                Events
              </BaseLink>
            </li>
            <li class="header-nav__item">
              <BaseLink
                :to="{ name: 'places' }"
                class="header-nav__link">
                Places
              </BaseLink>
            </li>
          </ul>
        </div>
        <div class="header__nav--right">
          <ul class="header-nav__list">
            <li class="header-nav__item">
              <BaseLink
                :name="'login'"
                class="header-nav__link">
                Sign In
              </BaseLink>
            </li>
            <li class="header-nav__item">
              <BaseLink
                :name="'signup'"
                class="header-nav__link link-outline"
              >Sign Up
              </BaseLink>
            </li>
          </ul>
        </div>
      </div>
      <div class="header__container">
        <div class="u-text-center">
          <h1 class="heading-primary heading-primary--main margin-bottom-medium" >
            weout
          </h1>
        </div>
        <b-input-group
          size="lg" 
          class="w-50 ma">
          <b-form-input 
            v-model="categories"
            placeholder="Restaurant, Bar ..."
            class="no-focus"
            list="place-categories"
          />
          <b-form-datalist 
            id="place-categories"
            :options="socialCategories"
          />
          <b-form-input
            v-model="place"
            :placeholder="place" 
            class="no-focus"
            list="cities-list"/>
          <b-form-datalist 
            id="cities-list"
            :options="placesList"
          />
          <b-input-group-append >
            <b-button 
              size="lg" 
              variant="success"
              @click="searchPlaces">
              Search
            </b-button>
          </b-input-group-append>
        </b-input-group>
        <place-icon-list class="w-50 ma"/>
      </div>
    </div>
    <places-app />
    <up-coming-events-app :list-events="eventList"/>
  </div>
</template>

<style scoped lang="scss">
@import '../assets/sass/main';

.landing-page {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 0 !important;
}

.navigation {
  width: 100%;
  &__background {
    position: fixed;
    right: 6.5rem;
    top: 4.5rem;
    width: 4rem;
    height: 4rem;
    background: radial-gradient($color-primary-dark, $color-primary-main);
    z-index: 1000;
    border-radius: 50rem;
    display: none;

    @include respond(tab-port) {
      display: initial;
      right: 3rem;
      top: 2.5rem;
    }
  }

  &__checkbox {
    display: none;
  }

  &__button {
    position: fixed;
    right: 6rem;
    top: 4rem;
    width: 5rem;
    height: 5rem;
    border-radius: 10rem;
    background-color: white;
    text-align: center;
    z-index: 2000;
    display: none;

    @include respond(tab-port) {
      display: initial;
      right: 2.5rem;
      top: 1.5rem;
    }
  }

  &__nav {
    text-align: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    display: none;
  }

  &__list {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    background: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      white 50%
    );
    background-size: 220%;
    text-decoration: none;
    font-size: 3rem;
    color: white;
    padding: 1rem 4rem;

    transition: all 0.4s;

    &:hover,
    &:active {
      text-decoration: none;
      background-position: 100%;
      transform: translateX(-1rem);
      color: $color-primary;
    }
  }

  &__icon {
    position: relative;
    margin-top: 2.5rem;

    &,
    &::after,
    &::before {
      height: 2px;
      width: 3rem;
      background-color: black;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked ~ &__background {
    transform: scale(100);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    display: initial;
    z-index: 1500;
  }
}

.header {
  height: 68vh;
  width: 100%;
  background: linear-gradient(
        to right,
        rgba($color-primary-light, 0.2),
        rgba($color-primary-dark, 0.3)
      )
      top,
    url('~assets/img/image5.jpg');
  position: relative;
  background-size: cover;

  &__container {
    margin: auto;
    height: 60rem;
    width: 100%;
    padding: 10rem 10rem;

    @include respond(tab-port) {
      padding: 6rem 3rem;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    padding-top: 1.5rem;

    @include respond(tab-port) {
      display: none;
    }
  }

  &-nav {
    z-index: 25000;

    &__list {
      list-style: none;
      display: flex;
      z-index: inherit;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }

    &__link {
      text-decoration: none;
      color: white;
      font-size: 1.4rem;
      padding: 1rem 1.5rem;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .link-outline {
    border: 1px solid #55c57a;
    border-radius: 10px;
  }
}

.input__search {
  &--item,
  &--location {
    width: 45%;
    outline: none;
    padding: 0.5rem 0.5rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 10px;
    flex: 1;
  }
}
.form {
  background-color: $color-white;
  border: $container-border;
}
.search {
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 3.8rem;
    width: 3.8rem;
    margin-left: -5rem;
    background-color: transparent;

    @include respond(phone) {
      height: 2.8rem;
      width: 2.8rem;
      margin-left: -3rem;
      margin-top: 0.4rem;
    }
  }

  &__icon {
    height: inherit;
    width: inherit;
    fill: rgba($color-black, 0.7);
    flex: 1;
  }

  &__label {
    padding: 0.6rem 0.5rem;
    font-size: 1.6rem;
    flex: 0 0 6rem;
    margin-bottom: 0 !important;

    @include respond(phone) {
      flex: 0 0 2.5rem;
    }
  }
}
.vertical-bar {
  font-size: 2.5rem;
  list-style: none;
  color: rgba($color-black, 0.5);
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
</style>
