<script>
export default {
  name: 'UsersPage',

  layout: 'UsersPageLayout',

  async fetch({ store }) {
    await store.dispatch('user/fetchMe');
  },
};
</script>

<template>
  <nuxt-child/>
</template>

<style scoped>
</style>
