<script>
import EventMember from './EventMember';
export default {
  name: 'EventMembersList',
  components: { EventMember },
  data() {
    return {
      id: Number.parseInt(this.$route.params.id),
      members: [],
    };
  },

  async created() {
    const url = '/event/' + this.id + '/members';
    try {
      const res = await this.$axios.$get(url);
      this.members = res.results;
    } catch (e) {
      console.log({ ...e });
    }
  },
};
</script>

<template>
  <ul class="event-members">
    <EventMember
      v-for="member in members"
      :user="member"
      :key="member.id"/>
  </ul>
</template>

<style scoped lang="scss">
.event-members {
  list-style: none;
}
</style>
