<script>
import BaseSvgIcon from '../../UI/BaseSvgIcon';
export default {
  name: 'EventMember',
  components: { BaseSvgIcon },
  props: {
    user: {
      type: Object,
      required: true,
    },
  },

  computed: {
    thumbnail() {
      return this.user.name[0].toUpperCase();
    },
  },
};
</script>

<template>
  <li class="user">
    <div class="user-avatar">
      <img 
        :src="user.avatar" 
        :alt="thumbnail">
    </div>
    <div class="user-passport">
      <div class="user-name"> Name</div>
      <div class="user-passport-stat">
        <span class="user-friends-count">
          <BaseSvgIcon icon-id="icon-users"/> (30)
        </span>
        <span class="user-rating">
          <BaseSvgIcon icon-id="icon-star"/> (300)
        </span>
      </div>
    </div>
  </li>
</template>

<style scoped lang="scss">
@import '~assets/sass/main';

.user {
  height: 5rem;
  padding: 0.5rem 2rem;
  margin: 0;
  @include display-flex-space-between;

  &-avatar {
    height: 4rem;
    width: 4rem;
    border-radius: 100px;

    &img {
      height: 100%;
      width: 100%;
    }
  }

  &-passport {
    flex: 1;
  }

  &-passort-stat {
    @include display-flex-space-between;
  }

  &-name {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
  }

  &-rating {
    height: 2rem;
    width: 2rem;
  }
}
</style>
