<script>
import EventList from '@/components/EventList.vue';
import EventListHeader from '@/components/Events/EventListHeader.vue';

export default {
  name: 'EventListByCategory',

  components: {
    EventList,
    EventListHeader,
  },

  data() {
    return {
      events: {
        next: null,
        previous: null,
        results: [],
      },
      currentPage: 1,
    };
  },

  computed: {
    total() {
      return this.events.results.lenght;
    },
    hasNext() {
      return this.events.next != null;
    },
  },

  created() {
    const category = this.$route.query.category;
    console.log(`fetching the list of event with query ${category}`);
  },

  methods: {
    async fetchNextPage() {
      try {
        const res = await this.$axios.$get(next);
        if (res) {
          this.events.results.push(res.results);
          this.events.next = res.next;
          this.events.previous = res.previous;
        }
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<template>
  <div>
    <EventListHeader/>
    <div class="filter">
      <span>Sort By</span>
      <span>Time</span>
      <span>All Categories</span>
    </div>
    <EventList :list-events="events.results"/>
    <div 
      v-if="hasNext" 
      class="show-more"
      @click="fetchNextPage"> Show more</div>
  </div>
</template>

<style scoped lang="scss">
.filter {
  display: flex;
}
</style>
